### ER Diagram

ER diagram below is created by using Microsoft SQL Server 2019.

![title](images/hr_er.png)<br>

### Creating SQL Database

In [1]:
import csv, sqlite3

In [2]:
%load_ext sql

In [3]:
conn = sqlite3.connect("HRData.db")
c = conn.cursor()

### Connecting to the Database

In [4]:
%sql sqlite:///HRData.db

### Creating HR Table

In [5]:
c.execute("""CREATE TABLE IF NOT EXISTS HR
            (EmpID NUMERIC PRIMARY KEY,
             First_Name TEXT,
             Last_Name TEXT,
             Middle_Name TEXT,
             Sex TEXT,
             Zip NUMERIC,
             State TEXT,
             DOB NUMERIC,
             MaritalStatusID NUMERIC
            );""")

In [6]:
with open('HRDataset/HR.csv','r') as fin:
    dr = csv.DictReader(fin)
    to_db =[(i['EmpID'], i['First_Name'], i['Last_Name'], i['Middle_Name'], i['Sex'],
              i['Zip'], i['State'], i['DOB'], i['MaritalStatusID'],) for i in dr]

In [8]:
c.executemany("""INSERT INTO HR(EmpID,First_name,Last_Name, Middle_Name,sex,zip,state,DOB,MaritalStatusID)
                VALUES (?,?,?,?,?,?,?,?,?);""", to_db)

In [9]:
conn.commit()

In [10]:
for row in c.execute("SELECT * FROM HR LIMIT 10"):
    print(row)

(10026, 'Adinolfi', 'Wilson', 'K', 'M ', 1960, 'MA', '7/10/1983', 0)
(10084, 'Ait', 'Sidi', 'Karthikeyan', 'M ', 2148, 'MA', '5/5/1975', 1)
(10196, 'Akinkuolie', 'Sarah', '', 'F', 1810, 'MA', '09/19/88', 1)
(10088, 'Alagbe', 'Trina', '', 'F', 1886, 'MA', '09/27/88', 1)
(10069, 'Anderson', 'Carol', '', 'F', 2169, 'MA', '9/8/1989', 2)
(10002, 'Anderson', 'Linda', '', 'F', 1844, 'MA', '05/22/77', 0)
(10194, 'Andreola', 'Colby', '', 'F', 2110, 'MA', '05/24/79', 0)
(10062, 'Athwal', 'Sam', '', 'M ', 2199, 'MA', '02/18/83', 4)
(10114, 'Bachiochi', 'Linda', '', 'F', 1902, 'MA', '2/11/1970', 0)
(10250, 'Bacong', 'Alejandro', '', 'M ', 1886, 'MA', '1/7/1988', 2)

In [11]:
for r in c.execute("SELECT name FROM sqlite_master WHERE type='table';"):
    print(r)

('HR',)

In [12]:
c.execute('SELECT EMPID, FIRST_NAME, LAST_NAME, MIDDLE_NAME, SEX, ZIP, STATE, DOB, MARITALSTATUSID FROM HR LIMIT 10')
Acc = c.fetchall()

In [13]:
conn.commit()

### Creating Infor Table

In [19]:
c.execute("""CREATE TABLE IF NOT EXISTS Info
            (EmpID NUMERIC PRIMARY KEY,
             PositionID NUMERIC,
             Salary NUMERIC,
             DeptID NUMERIC,
             ManagerID NUMERIC,
             EmploymentStatus TEXT,
             RecruitmentSource TEXT,
             DateofHire NUMERIC,
             DateofTermination NUMERIC,
             TermReason NUMERIC
            );""")

In [20]:
with open('HRDataset/Info.csv','r') as fin:
    dr = csv.DictReader(fin)
    to_db =[(i['EmpID'], i['PositionID'], i['Salary'], i['DeptID'], i['ManagerID'],
              i['EmploymentStatus'], i['RecruitmentSource'], i['DateofHire'], i['DateofTermination'], i['TermReason']) for i in dr]

In [21]:
c.executemany("""INSERT INTO Info(EmpID,PositionID,Salary,DeptID,ManagerID,EmploymentStatus,RecruitmentSource,DateofHire, DateofTermination,TermReason)
                VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?);""", to_db)

In [22]:
conn.commit()

In [23]:
for row in c.execute("SELECT * FROM Info LIMIT 10"):
    print(row)

(10026, 1, 62506, 5, 22, 'Active', 'LinkedIn', '7/5/2011', '', 'N/A-StillEmployed')
(10084, 2, 104437, 3, 4, 'Voluntarily Terminated', 'Indeed', '3/30/2015', '6/16/2016', 'career change')
(10196, 3, 64955, 5, 20, 'Voluntarily Terminated', 'LinkedIn', '7/5/2011', '9/24/2012', 'hours')
(10088, 4, 64991, 5, 16, 'Active', 'Indeed', '1/7/2008', '', 'N/A-StillEmployed')
(10069, 5, 50825, 5, 39, 'Voluntarily Terminated', 'Google Search', '7/11/2011', '9/6/2016', 'return to school')
(10002, 6, 57568, 5, 11, 'Active', 'LinkedIn', '1/9/2012', '', 'N/A-StillEmployed')
(10194, 7, 95660, 4, 10, 'Active', 'LinkedIn', '11/10/2014', '', 'N/A-StillEmployed')
(10062, 8, 59365, 5, 19, 'Active', 'Employee Referral', '9/30/2013', '', 'N/A-StillEmployed')
(10114, 9, 47837, 5, 12, 'Active', 'Diversity Job Fair', '7/6/2009', '', 'N/A-StillEmployed')
(10250, 10, 50178, 3, 7, 'Active', 'Indeed', '1/5/2015', '', 'N/A-StillEmployed')

In [24]:
for r in c.execute("SELECT name FROM sqlite_master WHERE type='table';"):
    print(r)

('HR',)
('Info',)

In [25]:
c.execute('SELECT EMPID, POSITIONID, SALARY, DEPTID, MANAGERID, EMPLOYMENTSTATUS, RECRUITMENTSOURCE, DATEOFHIRE, DATEOFTERMINATION, TERMREASON FROM INFO LIMIT 10')
Acc = c.fetchall()

In [26]:
conn.commit()

### Creating MaritalStatus Table

In [78]:
c.execute("""CREATE TABLE IF NOT EXISTS MaritalStatus
            (MaritalStatusID NUMERIC PRIMARY KEY,
             MarriedID NUMERIC,
             MaritalDesc TEXT
            );""")

In [79]:
with open('HRDataset/MaritalStatus.csv','r') as fin:
    dr = csv.DictReader(fin)
    to_db =[(i['MaritalStatusID'], i['MarriedID'], i['MaritalDesc']) for i in dr]

In [80]:
c.executemany("""INSERT INTO MaritalStatus(MaritalStatusID, MarriedID, MaritalDesc)
                VALUES (?, ?, ?);""", to_db)

In [81]:
conn.commit()

In [82]:
for row in c.execute("SELECT * FROM MaritalStatus LIMIT 10"):
    print(row)

(0, 0, 'Single')
(1, 1, 'Married')
(2, 0, 'Divorced')
(3, 0, 'Separated')
(4, 0, 'Widowed')

In [83]:
for r in c.execute("SELECT name FROM sqlite_master WHERE type='table';"):
    print(r)

('HR',)
('Info',)
('Diversity',)
('Dept',)
('Post',)
('Manager',)
('MaritalStatus',)

In [84]:
c.execute('SELECT MARITALSTATUSID, MARRIEDID, MARITALDESC FROM MARITALSTATUS LIMIT 10')
Acc = c.fetchall()

In [85]:
conn.commit()

### Creating Diversity Table

In [87]:
c.execute("""CREATE TABLE IF NOT EXISTS Diversity
            (EmpID NUMERIC PRIMARY KEY,
             CitizenDesc TEXT,
             RaceDesc TEXT
            );""")

In [88]:
with open('HRDataset/Diversity.csv','r') as fin:
    dr = csv.DictReader(fin)
    to_db =[(i['EmpID'], i['CitizenDesc'], i['RaceDesc']) for i in dr]

In [89]:
c.executemany("""INSERT INTO Diversity(EmpID, CitizenDesc, RaceDesc)
                VALUES (?, ?, ?);""", to_db)

In [90]:
conn.commit()

In [91]:
for row in c.execute("SELECT * FROM Diversity LIMIT 10"):
    print(row)

(10026, 'US Citizen', 'White')
(10084, 'US Citizen', 'White')
(10196, 'US Citizen', 'White')
(10088, 'US Citizen', 'White')
(10069, 'US Citizen', 'White')
(10002, 'US Citizen', 'White')
(10194, 'US Citizen', 'White')
(10062, 'US Citizen', 'White')
(10114, 'US Citizen', 'Black or African American')
(10250, 'US Citizen', 'White')

In [92]:
for r in c.execute("SELECT name FROM sqlite_master WHERE type='table';"):
    print(r)

('HR',)
('Info',)
('Dept',)
('Post',)
('Manager',)
('MaritalStatus',)
('Diversity',)

In [93]:
c.execute('SELECT EMPID, CITIZENDESC, RACEDESC FROM DIVERSITY LIMIT 10')
Acc = c.fetchall()

In [94]:
conn.commit()

### Creating Department Table

In [96]:
c.execute("""CREATE TABLE IF NOT EXISTS Dept
            (DeptID NUMERIC PRIMARY KEY,
             Department TEXT
            );""")

In [97]:
with open('HRDataset/Dept.csv','r') as fin:
    dr = csv.DictReader(fin)
    to_db =[(i['DeptID'], i['Department']) for i in dr]

In [98]:
c.executemany("""INSERT INTO Dept(DeptID, Department)
                VALUES (?, ?);""", to_db)

In [99]:
conn.commit()

In [100]:
for row in c.execute("SELECT * FROM Dept LIMIT 10"):
    print(row)

(1, 'Admin Offices')
(2, 'Executive Office')
(3, 'IT/IS')
(4, 'Software Engineering')
(5, 'Production       ')
(6, 'Sales')

In [101]:
for r in c.execute("SELECT name FROM sqlite_master WHERE type='table';"):
    print(r)

('HR',)
('Info',)
('Post',)
('Manager',)
('MaritalStatus',)
('Diversity',)
('Dept',)

In [102]:
c.execute('SELECT DEPTID, DEPARTMENT FROM DEPT LIMIT 10')
Acc = c.fetchall()

In [103]:
conn.commit()

### Creating Position Table

In [112]:
c.execute("""CREATE TABLE IF NOT EXISTS Post
            (PositionID NUMERIC PRIMARY KEY,
             Position TEXT
            );""")

In [113]:
with open('HRDataset/Post.csv','r') as fin:
    dr = csv.DictReader(fin)
    to_db =[(i['PositionID'], i['Position']) for i in dr]

In [114]:
c.executemany("""INSERT INTO Post(PositionID, Position)
                VALUES (?, ?);""", to_db)

In [115]:
conn.commit()

In [116]:
for row in c.execute("SELECT * FROM Post LIMIT 10"):
    print(row)

(1, 'Accountant I')
(2, 'Administrative Assistant')
(3, 'Area Sales Manager')
(4, 'BI Developer')
(5, 'BI Director')
(6, 'CIO')
(7, 'Data Architect')
(8, 'Database Administrator')
(9, 'Data Analyst')
(10, 'Director of Operations')

In [117]:
for r in c.execute("SELECT name FROM sqlite_master WHERE type='table';"):
    print(r)

('HR',)
('Info',)
('Manager',)
('MaritalStatus',)
('Diversity',)
('Dept',)
('Post',)

In [118]:
c.execute('SELECT POSITIONID, POSITION FROM POST LIMIT 10')
Acc = c.fetchall()

In [119]:
conn.commit()

### Creating Manager Table

In [121]:
c.execute("""CREATE TABLE IF NOT EXISTS Manager
            (ManagerID NUMERIC PRIMARY KEY,
             ManagerName TEXT
            );""")

In [122]:
with open('HRDataset/Manager.csv','r') as fin:
    dr = csv.DictReader(fin)
    to_db =[(i['ManagerID'], i['ManagerName']) for i in dr]

In [123]:
c.executemany("""INSERT INTO Manager(ManagerID, ManagerName)
                VALUES (?, ?);""", to_db)

In [124]:
conn.commit()

In [125]:
for row in c.execute("SELECT * FROM Manager LIMIT 10"):
    print(row)

(1, 'Brandon R. LeBlanc')
(2, 'Janet King')
(3, 'Brandon R. LeBlanc')
(4, 'Simon Roup')
(5, 'Jennifer Zamora')
(6, 'Eric Dougall')
(7, 'Peter Monroe')
(9, 'Board of Directors')
(10, 'Alex Sweetwater')
(11, 'Amy Dunn')

In [126]:
for r in c.execute("SELECT name FROM sqlite_master WHERE type='table';"):
    print(r)

('HR',)
('Info',)
('MaritalStatus',)
('Diversity',)
('Dept',)
('Post',)
('Manager',)

In [127]:
c.execute('SELECT MANAGERID, MANAGERNAME FROM MANAGER LIMIT 10')
Acc = c.fetchall()

In [128]:
conn.commit()

### Creating Hiring Table

In [129]:
c.execute("""CREATE TABLE IF NOT EXISTS Hired
            (EmpID NUMERIC PRIMARY KEY,
             RecruitmentSource TEXT,
             DateofHire NUMERIC
            );""")

In [130]:
with open('HRDataset/Hired.csv','r') as fin:
    dr = csv.DictReader(fin)
    to_db =[(i['EmpID'], i['RecruitmentSource'], i['DateofHire']) for i in dr]

In [131]:
c.executemany("""INSERT INTO Hired(EmpID, RecruitmentSource, DateofHire)
                VALUES (?, ?, ?);""", to_db)

In [132]:
for row in c.execute("SELECT * FROM Hired LIMIT 10"):
    print(row)

(10026, 'LinkedIn', '7/5/2011')
(10084, 'Indeed', '3/30/2015')
(10196, 'LinkedIn', '7/5/2011')
(10088, 'Indeed', '1/7/2008')
(10069, 'Google Search', '7/11/2011')
(10002, 'LinkedIn', '1/9/2012')
(10194, 'LinkedIn', '11/10/2014')
(10062, 'Employee Referral', '9/30/2013')
(10114, 'Diversity Job Fair', '7/6/2009')
(10250, 'Indeed', '1/5/2015')

In [133]:
for r in c.execute("SELECT name FROM sqlite_master WHERE type='table';"):
    print(r)

('HR',)
('Info',)
('MaritalStatus',)
('Diversity',)
('Dept',)
('Post',)
('Manager',)
('Hired',)

In [134]:
c.execute('SELECT EMPID, RECRUITMENTSOURCE, DATEOFHIRE FROM HIRED LIMIT 10')
Acc = c.fetchall()

In [135]:
conn.commit()

### Creating Terminated Table

In [136]:
c.execute("""CREATE TABLE IF NOT EXISTS Terminated
            (EmpID NUMERIC PRIMARY KEY,
             DateofTermination MUMERIC,
             TermReason TEXT
            );""")

In [137]:
with open('HRDataset/Terminated.csv','r') as fin:
    dr = csv.DictReader(fin)
    to_db =[(i['EmpID'], i['DateofTermination'], i['TermReason']) for i in dr]

In [138]:
c.executemany("""INSERT INTO Terminated(EmpID, DateofTermination, TermReason)
                VALUES (?, ?, ?);""", to_db)

In [139]:
for row in c.execute("SELECT * FROM Terminated LIMIT 10"):
    print(row)

(10026, '', 'N/A-StillEmployed')
(10084, '6/16/2016', 'career change')
(10196, '9/24/2012', 'hours')
(10088, '', 'N/A-StillEmployed')
(10069, '9/6/2016', 'return to school')
(10002, '', 'N/A-StillEmployed')
(10194, '', 'N/A-StillEmployed')
(10062, '', 'N/A-StillEmployed')
(10114, '', 'N/A-StillEmployed')
(10250, '', 'N/A-StillEmployed')

In [140]:
for r in c.execute("SELECT name FROM sqlite_master WHERE type='table';"):
    print(r)

('HR',)
('Info',)
('MaritalStatus',)
('Diversity',)
('Dept',)
('Post',)
('Manager',)
('Hired',)
('Terminated',)

In [141]:
c.execute('SELECT EMPID, DATEOFTERMINATION, TERMREASON FROM TERMINATED LIMIT 10')
Acc = c.fetchall()

In [142]:
conn.commit()

### Creating Performance Table

In [153]:
c.execute("""CREATE TABLE IF NOT EXISTS Performance
            (EmpID NUMERIC PRIMARY KEY,
             PerfScoreID MUMERIC,
             EngagementSurvey NUMERIC,
             EmpSatisfaction NUMERIC,
             SpecialProjectsCount NUMERIC,
             LastPerformanceReview_Date NUMERIC,
             DaysLateLast30 NUMERIC,
             Absences NUMERIC
            );""")

In [154]:
with open('HRDataset/Performance.csv','r') as fin:
    dr = csv.DictReader(fin)
    to_db =[(i['EmpID'], i['PerfScoreID'], i['EngagementSurvey'], i['EmpSatisfaction'], i['SpecialProjectsCount'], i['LastPerformanceReview_Date'], i['DaysLateLast30'], i['Absences']) for i in dr]

In [155]:
c.executemany("""INSERT INTO Performance(EmpID, PerfScoreID, EngagementSurvey, EmpSatisfaction, SpecialProjectsCount, LastPerformanceReview_Date, DaysLateLast30, Absences)
                VALUES (?, ?, ?, ?, ?, ?, ?, ?);""", to_db)

In [156]:
for row in c.execute("SELECT * FROM Performance LIMIT 10"):
    print(row)

(10026, 4, 4.6, 5, 0, '1/17/2019', 0, 1)
(10084, 3, 4.96, 3, 6, '2/24/2016', 0, 17)
(10196, 3, 3.02, 3, 0, '5/15/2012', 0, 3)
(10088, 3, 4.84, 5, 0, '1/3/2019', 0, 15)
(10069, 3, 5, 4, 0, '2/1/2016', 0, 2)
(10002, 4, 5, 5, 0, '1/7/2019', 0, 15)
(10194, 3, 3.04, 3, 4, '1/2/2019', 0, 19)
(10062, 3, 5, 4, 0, '2/25/2019', 0, 19)
(10114, 3, 4.46, 3, 0, '1/25/2019', 0, 4)
(10250, 3, 5, 5, 6, '2/18/2019', 0, 16)

In [157]:
for r in c.execute("SELECT name FROM sqlite_master WHERE type='table';"):
    print(r)

('HR',)
('Info',)
('MaritalStatus',)
('Diversity',)
('Dept',)
('Post',)
('Manager',)
('Hired',)
('Terminated',)
('Performance',)

In [158]:
c.execute('SELECT EMPID, PERFSCOREID, ENGAGEMENTSURVEY, EMPSATISFACTION, SPECIALPROJECTSCOUNT, LASTPERFORMANCEREVIEW_DATE, DAYSLATELAST30, ABSENCES FROM PERFORMANCE LIMIT 10')
Acc = c.fetchall()

In [159]:
conn.commit()

### Creating Perfomance Score Table

In [160]:
c.execute("""CREATE TABLE IF NOT EXISTS PerformanceS
            (PerfScoreID NUMERIC PRIMARY KEY,
             PerformanceScore TEXT
            );""")

In [161]:
with open('HRDataset/PerformanceS.csv','r') as fin:
    dr = csv.DictReader(fin)
    to_db =[(i['PerfScoreID'], i['PerformanceScore']) for i in dr]

In [162]:
c.executemany("""INSERT INTO PerformanceS(PerfScoreID, PerformanceScore)
                VALUES (?, ?);""", to_db)

In [163]:
conn.commit()

In [164]:
for row in c.execute("SELECT * FROM PerformanceS LIMIT 10"):
    print(row)

(1, 'PIP')
(2, 'Needs Improvement')
(3, 'Fully Meets')
(4, 'Exceeds')

In [165]:
for r in c.execute("SELECT name FROM sqlite_master WHERE type='table';"):
    print(r)

('HR',)
('Info',)
('MaritalStatus',)
('Diversity',)
('Dept',)
('Post',)
('Manager',)
('Hired',)
('Terminated',)
('Performance',)
('PerformanceS',)

In [166]:
c.execute('SELECT PERFSCOREID, PERFORMANCESCORE FROM PERFORMANCES LIMIT 10')
Acc = c.fetchall()

In [167]:
conn.commit()

### Loading Created Database

In [1]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\acer\appdata\local\programs\python\python38-32\lib\site-packages (0.4.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\acer\appdata\local\programs\python\python38-32\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlparse in c:\users\acer\appdata\local\programs\python\python38-32\lib\site-packages (from ipython-sql) (0.4.1)
Requirement already satisfied: six in c:\users\acer\appdata\local\programs\python\python38-32\lib\site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: ipython>=1.0 in c:\users\acer\appdata\local\programs\python\python38-32\lib\site-packages (from ipython-sql) (7.16.1)
Requirement already satisfied: prettytable<1 in c:\users\acer\appdata\local\programs\python\python38-32\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\acer\appdata\local\programs\python\python38-32\lib\site-packages (from ipython-sql) (1.3.20)
Requirement already satisfied: backcall in c:\users\acer\appdata\local\programs\python\python38-32\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: pygments in c:\users\acer\appdata\local\programs\python\python38-32\lib\site-packages (from ipython>=1.0->ipython-sql) (2.6.1)
Requirement already satisfied: setuptools>=18.5 in c:\users\acer\appdata\local\programs\python\python38-32\lib\site-packages (from ipython>=1.0->ipython-sql) (47.1.0)
Requirement already satisfied: colorama in c:\users\acer\appdata\local\programs\python\python38-32\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.3)
Requirement already satisfied: pickleshare in c:\users\acer\appdata\local\programs\python\python38-32\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: decorator in c:\users\acer\appdata\local\programs\python\python38-32\lib\site-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied: traitlets>=4.2 in c:\users\acer\appdata\local\programs\python\python38-32\lib\site-packages (from ipython>=1.0->ipython-sql) (4.3.3)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\acer\appdata\local\programs\python\python38-32\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.5)
Requirement already satisfied: jedi>=0.10 in c:\users\acer\appdata\local\programs\python\python38-32\lib\site-packages (from ipython>=1.0->ipython-sql) (0.17.2)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\acer\appdata\local\programs\python\python38-32\lib\site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.7.1)
Requirement already satisfied: wcwidth in c:\users\acer\appdata\local\programs\python\python38-32\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)

In [2]:
%load_ext sql

In [3]:
%sql sqlite:///HRData.db

In [4]:
%sql SELECT sql from sqlite_master WHERE type='table';

 * sqlite:///HRData.db
Done.

[('CREATE TABLE HR\n            (EmpID NUMERIC PRIMARY KEY,\n             First_Name TEXT,\n             Last_Name TEXT,\n             Middle_Name TEXT, ... (8 characters truncated) ...        Sex TEXT,\n             Zip NUMERIC,\n             State TEXT,\n             DOB NUMERIC,\n             MaritalStatusID NUMERIC\n            )',),
 ('CREATE TABLE Info\n            (EmpID NUMERIC PRIMARY KEY,\n             PositionID NUMERIC,\n             Salary NUMERIC,\n             DeptID NUMER ... (85 characters truncated) ...    RecruitmentSource TEXT,\n             DateofHire NUMERIC,\n             DateofTermination NUMERIC,\n             TermReason NUMERIC\n            )',),
 ('CREATE TABLE MaritalStatus\n            (MaritalStatusID NUMERIC PRIMARY KEY,\n             MarriedID NUMERIC,\n             MaritalDesc TEXT\n            )',),
 ('CREATE TABLE Diversity\n            (EmpID NUMERIC PRIMARY KEY,\n             CitizenDesc TEXT,\n             RaceDesc TEXT\n            )',),
 ('CREATE TABLE Dept\n            (DeptID NUMERIC PRIMARY KEY,\n             Department TEXT\n            )',),
 ('CREATE TABLE Post\n            (PositionID NUMERIC PRIMARY KEY,\n             Position TEXT\n            )',),
 ('CREATE TABLE Manager\n            (ManagerID NUMERIC PRIMARY KEY,\n             ManagerName TEXT\n            )',),
 ('CREATE TABLE Hired\n            (EmpID NUMERIC PRIMARY KEY,\n             RecruitmentSource TEXT,\n             DateofHire NUMERIC\n            )',),
 ('CREATE TABLE Terminated\n            (EmpID NUMERIC PRIMARY KEY,\n             DateofTermination MUMERIC,\n             TermReason TEXT\n            )',),
 ('CREATE TABLE Performance\n            (EmpID NUMERIC PRIMARY KEY,\n             PerfScoreID MUMERIC,\n             EngagementSurvey NUMERIC,\n        ... (59 characters truncated) ... sCount NUMERIC,\n             LastPerformanceReview_Date NUMERIC,\n             DaysLateLast30 NUMERIC,\n             Absences NUMERIC\n            )',),
 ('CREATE TABLE PerformanceS\n            (PerfScoreID NUMERIC PRIMARY KEY,\n             PerformanceScore TEXT\n            )',)]

### Analysis

In [5]:
%sql SELECT * FROM HR;

 * sqlite:///HRData.db
Done.

[(10026, 'Adinolfi', 'Wilson', 'K', 'M ', 1960, 'MA', '7/10/1983', 0),
 (10084, 'Ait', 'Sidi', 'Karthikeyan', 'M ', 2148, 'MA', '5/5/1975', 1),
 (10196, 'Akinkuolie', 'Sarah', '', 'F', 1810, 'MA', '09/19/88', 1),
 (10088, 'Alagbe', 'Trina', '', 'F', 1886, 'MA', '09/27/88', 1),
 (10069, 'Anderson', 'Carol', '', 'F', 2169, 'MA', '9/8/1989', 2),
 (10002, 'Anderson', 'Linda', '', 'F', 1844, 'MA', '05/22/77', 0),
 (10194, 'Andreola', 'Colby', '', 'F', 2110, 'MA', '05/24/79', 0),
 (10062, 'Athwal', 'Sam', '', 'M ', 2199, 'MA', '02/18/83', 4),
 (10114, 'Bachiochi', 'Linda', '', 'F', 1902, 'MA', '2/11/1970', 0),
 (10250, 'Bacong', 'Alejandro', '', 'M ', 1886, 'MA', '1/7/1988', 2),
 (10252, 'Baczenski', 'Rachael', '', 'F', 1902, 'MA', '1/12/1974', 1),
 (10242, 'Barbara', 'Thomas', '', 'M ', 2062, 'MA', '02/21/74', 1),
 (10012, 'Barbossa', 'Hector', '', 'M ', 78230, 'TX', '7/4/1988', 2),
 (10265, 'Barone', 'Francesco', 'A', 'M ', 1810, 'MA', '07/20/83', 0),
 (10066, 'Barton', 'Nader', '', 'M ', 2747, 'MA', '07/15/77', 2),
 (10061, 'Bates', 'Norman', '', 'M ', 2050, 'MA', '10/18/81', 0),
 (10023, 'Beak', 'Kimberly', '', 'F', 2145, 'MA', '04/17/66', 1),
 (10055, 'Beatrice', 'Courtney', '', 'F', 1915, 'MA', '10/27/70', 0),
 (10245, 'Becker', 'Renee', '', 'F', 2026, 'MA', '4/4/1986', 0),
 (10277, 'Becker', 'Scott', '', 'M ', 2452, 'MA', '4/6/1979', 0),
 (10046, 'Bernstein', 'Sean', '', 'M ', 2072, 'MA', '12/22/70', 0),
 (10226, 'Biden', 'Lowan', 'M', 'F', 2027, 'MA', '12/27/58', 2),
 (10003, 'Billis', 'Helen', '', 'F', 2031, 'MA', '9/1/1989', 1),
 (10294, 'Blount', 'Dianna', '', 'F', 2171, 'MA', '09/21/90', 0),
 (10267, 'Bondwell', 'Betsy', '', 'F', 2210, 'MA', '01/16/67', 0),
 (10199, 'Booth', 'Frank', '', 'M ', 6033, 'CT', '07/30/64', 0),
 (10081, 'Boutwell', 'Bonalyn', '', 'F', 2468, 'MA', '4/4/1987', 1),
 (10175, 'Bozzi', 'Charles', '', 'M ', 1901, 'MA', '3/10/1970', 0),
 (10177, 'Brill', 'Donna', '', 'F', 1701, 'MA', '08/24/90', 1),
 (10238, 'Brown', 'Mia', '', 'F', 1450, 'MA', '11/24/87', 1),
 (10184, 'Buccheri', 'Joseph', '', 'M ', 1013, 'MA', '07/28/83', 0),
 (10203, 'Bugali', 'Josephine', '', 'F', 2043, 'MA', '10/30/69', 3),
 (10188, 'Bunbury', 'Jessica', '', 'F', 21851, 'VA', '6/1/1964', 1),
 (10107, 'Burke', 'Joelle', '', 'F', 2148, 'MA', '3/2/1980', 0),
 (10181, 'Burkett', 'Benjamin', '', 'M ', 1890, 'MA', '08/19/77', 1),
 (10150, 'Cady', 'Max', '', 'M ', 2184, 'MA', '11/22/66', 0),
 (10001, 'Candie', 'Calvin', '', 'M ', 2169, 'MA', '8/9/1983', 0),
 (10085, 'Carabbio', 'Judith', '', 'F', 2132, 'MA', '4/5/1987', 0),
 (10115, 'Carey', 'Michael', '', 'M ', 1701, 'MA', '2/2/1983', 0),
 (10082, 'Carr', 'Claudia', 'N', 'F', 1886, 'MA', '6/6/1986', 0),
 (10040, 'Carter', 'Michelle', '', 'F', 5664, 'VT', '05/15/63', 0),
 (10067, 'Chace', 'Beatrice', '', 'F', 2763, 'MA', '1/2/1951', 0),
 (10108, 'Champaigne', 'Brian', '', 'M ', 2045, 'MA', '2/9/1972', 1),
 (10210, 'Chan', 'Lin', '', 'F', 2170, 'MA', '2/12/1979', 0),
 (10154, 'Chang', 'Donovan', 'E', 'M ', 1845, 'MA', '08/24/83', 0),
 (10200, 'Chigurh', 'Anton', '', 'M ', 78207, 'TX', '6/11/1970', 0),
 (10240, 'Chivukula', 'Enola', '', 'F', 1775, 'MA', '08/27/83', 0),
 (10168, 'Cierpiszewski', 'Caroline', '', 'F', 2044, 'MA', '05/31/88', 0),
 (10220, 'Clayton', 'Rick', '', 'M ', 2170, 'MA', '9/5/1985', 0),
 (10275, 'Cloninger', 'Jennifer', '', 'F', 1752, 'MA', '08/31/81', 1),
 (10269, 'Close', 'Phil', '', 'M ', 2169, 'MA', '11/25/78', 1),
 (10029, 'Clukey', 'Elijian', '', 'M ', 2134, 'MA', '08/26/80', 1),
 (10261, 'Cockel', 'James', '', 'M ', 2452, 'MA', '9/8/1977', 0),
 (10292, 'Cole', 'Spencer', '', 'M ', 1880, 'MA', '8/12/1979', 0),
 (10282, 'Corleone', 'Michael', '', 'M ', 1803, 'MA', '12/17/75', 2),
 (10019, 'Corleone', 'Vito', '', 'M ', 2030, 'MA', '03/19/83', 0),
 (10094, 'Cornett', 'Lisa', '', 'F', 2189, 'MA', '03/31/77', 1),
 (10193, 'Costello', 'Frank', '', 'M ', 1810, 'MA', '08/26/86', 1),
 (10132, 'Crimmings', 'Jean', '', 'F', 1821, 'MA', '4/10/1987', 0),
 (10083, 'Cross', 'Noah', '', 'M ', 6278, 'CT', '9/9/1965', 0),
 (10099, 'Daneault', 'Lynn', '', 'F', 5473, 'VT', '04/19/90', 0),
 (10212, 'Daniele', 'Ann', '', 'F', 6033, 'CT', '01/18/52', 1),
 (10056, 'Darson', "Jene'ya", '', 'F', 2110, 'MA', '11/5/1978', 1),
 (10143, 'Davis', 'Daniel', '', 'M ', 2458, 'MA', '09/14/79', 0),
 (10311, 'Dee', 'Randy', '', 'M ', 2138, 'MA', '04/15/88', 1),
 (10070, 'DeGweck', 'James', '', 'M ', 1810, 'MA', '10/31/77', 1),
 (10155, 'Del', 'Bosque', 'Keyla', 'F', 2176, 'MA', '7/5/1979', 0),
 (10306, 'Delarge', 'Alex', '', 'M ', 36006, 'AL', '11/2/1975', 0),
 (10100, 'Demita', 'Carla', '', 'F', 2343, 'MA', '02/25/51', 3),
 (10310, 'Desimone', 'Carl', '', 'M ', 2061, 'MA', '04/19/67', 1),
 (10197, 'DeVito', 'Tommy', '', 'M ', 2045, 'MA', '9/4/1983', 0),
 (10276, 'Dickinson', 'Geoff', '', 'M ', 2180, 'MA', '11/15/82', 0),
 (10304, 'Dietrich', 'Jenna', '', 'F', 98052, 'WA', '05/14/87', 0),
 (10284, 'DiNocco', 'Lily', '', 'F', 2351, 'MA', '12/2/1978', 1),
 (10207, 'Dobrin', 'Denisa', 'S', 'F', 2125, 'MA', '10/7/1986', 0),
 (10133, 'Dolan', 'Linda', '', 'F', 2119, 'MA', '07/18/88', 1),
 (10028, 'Dougall', 'Eric', '', 'M ', 1886, 'MA', '7/9/1970', 0),
 (10006, 'Driver', 'Elle', '', 'F', 90007, 'CA', '11/8/1988', 0),
 (10105, 'Dunn', 'Amy', '', 'F', 1731, 'MA', '11/28/73', 0),
 (10211, 'Dunne', 'Amy', '', 'F', 1749, 'MA', '09/23/73', 1),
 (10064, 'Eaton', 'Marianne', '', 'F', 2343, 'MA', '9/5/1991', 1),
 (10247, 'Engdahl', 'Jean', '', 'M ', 2026, 'MA', '05/31/74', 0),
 (10235, 'England', 'Rex', '', 'M ', 2045, 'MA', '08/25/78', 1),
 (10299, 'Erilus', 'Angela', '', 'F', 2133, 'MA', '08/25/89', 3),
 (10280, 'Estremera', 'Miguel', '', 'M ', 2129, 'MA', '9/2/1983', 0),
 (10296, 'Evensen', 'April', '', 'F', 2458, 'MA', '5/6/1989', 0),
 (10290, 'Exantus', 'Susan', '', 'F', 1749, 'MA', '05/15/87', 1),
 (10263, 'Faller', 'Megan', '', 'F', 1824, 'MA', '09/22/78', 1),
 (10136, 'Fancett', 'Nicole', '', 'F', 2324, 'MA', '09/27/87', 0),
 (10189, 'Ferguson', 'Susan', '', 'F', 2176, 'MA', '04/14/55', 1),
 (10308, 'Fernandes', 'Nilson', '', 'M ', 2132, 'MA', '10/18/89', 1),
 (10309, 'Fett', 'Boba', '', 'M ', 2138, 'MA', '06/18/87', 0),
 (10049, 'Fidelia', 'Libby', '', 'F', 2155, 'MA', '03/16/81', 1),
 (10093, 'Fitzpatrick', 'Michael', 'J', 'M ', 2143, 'MA', '10/1/1981', 0),
 (10163, 'Foreman', 'Tanya', '', 'F', 2170, 'MA', '11/8/1983', 1),
 (10305, 'Forrest', 'Alex', '', 'M ', 2330, 'MA', '7/7/1975', 1),
 (10015, 'Foss', 'Jason', '', 'M ', 1460, 'MA', '7/5/1980', 0),
 (10080, 'Foster-Baker', 'Amy', '', 'F', 2050, 'MA', '04/16/79', 1),
 (10258, 'Fraval', 'Maruk', '', 'M ', 6050, 'CT', '08/28/63', 0),
 (10273, 'Galia', 'Lisa', '', 'F', 6040, 'CT', '7/6/1968', 0),
 (10111, 'Garcia', 'Raul', '', 'M ', 1905, 'MA', '09/15/85', 0),
 (10257, 'Gaul', 'Barbara', '', 'F', 2121, 'MA', '12/2/1983', 0),
 (10159, 'Gentry', 'Mildred', '', 'F', 2145, 'MA', '10/1/1990', 1),
 (10122, 'Gerke', 'Melisa', '', 'F', 2330, 'MA', '05/15/70', 2),
 (10142, 'Gill', 'Whitney', '', 'F', 43050, 'OH', '7/10/1971', 4),
 (10283, 'Gilles', 'Alex', '', 'M ', 2062, 'MA', '8/9/1974', 1),
 (10018, 'Girifalco', 'Evelyn', '', 'F', 2451, 'MA', '5/8/1980', 0),
 (10255, 'Givens', 'Myriam', '', 'F', 46204, 'IN', '09/22/89', 0),
 (10246, 'Goble', 'Taisha', '', 'F', 2127, 'MA', '10/23/71', 0),
 (10228, 'Goeth', 'Amon', '', 'M ', 2135, 'MA', '11/24/89', 1),
 (10243, 'Gold', 'Shenice', '', 'F', 2451, 'MA', '06/18/92', 0),
 (10031, 'Gonzalez', 'Cayo', '', 'M ', 2108, 'MA', '09/29/69', 2),
 (10300, 'Gonzalez', 'Juan', '', 'M ', 2128, 'MA', '10/12/1964', 1),
 (10101, 'Gonzalez', 'Maria', '', 'F', 2472, 'MA', '04/16/81', 3),
 (10237, 'Good', 'Susan', '', 'F', 1886, 'MA', '05/25/86', 1),
 (10051, 'Gordon', 'David', '', 'M ', 2169, 'MA', '05/21/79', 1),
 (10218, 'Gosciminski', 'Phylicia', '', 'F', 1824, 'MA', '12/8/1983', 3),
 (10256, 'Goyal', 'Roxana', '', 'F', 1864, 'MA', '10/9/1974', 1),
 (10098, 'Gray', 'Elijiah', '', 'M ', 1752, 'MA', '7/11/1981', 2),
 (10059, 'Gross', 'Paula', '', 'F', 2176, 'MA', '05/21/83', 2),
 (10234, 'Gruber', 'Hans', '', 'M ', 2134, 'MA', '06/30/89', 1),
 (10109, 'Guilianno', 'Mike', '', 'M ', 37129, 'TN', '2/9/1969', 0),
 (10125, 'Handschiegl', 'Joanne', '', 'F', 2127, 'MA', '03/23/77', 1),
 (10074, 'Hankard', 'Earnest', '', 'M ', 2155, 'MA', '8/10/1988', 0),
 (10097, 'Harrington', 'Christie', '', 'F', 2324, 'MA', '08/18/52', 0),
 (10007, 'Harrison', 'Kara', '', 'F', 1886, 'MA', '5/2/1974', 1),
 (10129, 'Heitzman', 'Anthony', '', 'M ', 2149, 'MA', '1/4/1984', 0),
 (10075, 'Hendrickson', 'Trina', '', 'F', 2021, 'MA', '08/27/72', 0),
 (10167, 'Hitchcock', 'Alfred', '', 'M ', 3062, 'NH', '09/14/88', 1),
 (10195, 'Homberger', 'Adrienne', 'J', 'F', 2445, 'MA', '02/16/84', 1),
 (10112, 'Horton', 'Jayne', '', 'F', 2493, 'MA', '02/21/84', 0),
 (10272, 'Houlihan', 'Debra', '', 'F', 2908, 'RI', '03/17/66', 1),
 (10182, 'Howard', 'Estelle', '', 'F', 2170, 'MA', '09/16/85', 1),
 (10248, 'Hudson', 'Jane', '', 'F', 2176, 'MA', '6/10/1986', 0),
 (10201, 'Hunts', 'Julissa', '', 'F', 2021, 'MA', '3/11/1984', 0),
 (10214, 'Hutter', 'Rosalie', '', 'F', 2351, 'MA', '5/7/1992', 3),
 (10160, 'Huynh', 'Ming', '', 'F', 1742, 'MA', '09/22/76', 2),
 (10289, 'Immediato', 'Walter', '', 'M ', 2128, 'MA', '11/15/76', 1),
 (10139, 'Ivey', 'Rose', '', 'F', 1775, 'MA', '01/28/91', 0),
 (10227, 'Jackson', 'Maryellen', '', 'F', 2081, 'MA', '9/11/1972', 0),
 (10236, 'Jacobi', 'Hannah', '', 'F', 1778, 'MA', '03/22/66', 2),
 (10009, 'Jeannite', 'Tayana', '', 'F', 1821, 'MA', '11/6/1986', 2),
 (10060, 'Jhaveri', 'Sneha', '', 'F', 2109, 'MA', '04/13/64', 3),
 (10034, 'Johnson', 'George', '', 'M ', 2445, 'MA', '08/19/59', 1),
 (10156, 'Johnson', 'Noelle', '', 'F', 2301, 'MA', '11/7/1986', 1),
 (10036, 'Johnston', 'Yen', '', 'F', 2128, 'MA', '9/8/1969', 0),
 (10138, 'Jung', 'Judy', '', 'F', 2446, 'MA', '04/17/86', 1),
 (10244, 'Kampew', 'Donysha', '', 'F', 19444, 'PA', '11/11/1989', 0),
 (10192, 'Keatts', 'Kramer', '', 'M ', 1887, 'MA', '01/19/76', 0),
 (10231, 'Khemmich', 'Bartholemew', '', 'M ', 80820, 'CO', '11/27/79', 0),
 (10089, 'King', 'Janet', '', 'F', 1902, 'MA', '09/21/54', 1),
 (10166, 'Kinsella', 'Kathleen', '', 'F', 2170, 'MA', '12/8/1973', 1),
 (10170, 'Kirill', 'Alexandra', '', 'F', 2127, 'MA', '10/8/1970', 1),
 (10208, 'Knapp', 'Bradley', 'J', 'M ', 1721, 'MA', '11/10/1977', 0),
 (10176, 'Kretschmer', 'John', '', 'M ', 1801, 'MA', '2/2/1980', 1),
 (10165, 'Kreuger', 'Freddy', '', 'M ', 10171, 'NY', '02/24/69', 0),
 (10113, 'Lajiri', 'Jyoti', '', 'M ', 2169, 'MA', '04/23/86', 1),
 (10092, 'Landa', 'Hans', '', 'M ', 1890, 'MA', '7/1/1972', 1),
 (10106, 'Langford', 'Lindsey', '', 'F', 2090, 'MA', '07/25/79', 2),
 (10052, 'Langton', 'Enrico', '', 'M ', 2048, 'MA', '12/9/1986', 1),
 (10038, 'LaRotonda', 'William', '', 'M ', 1460, 'MA', '04/26/84', 2),
 (10249, 'Latif', 'Mohammed', '', 'M ', 2126, 'MA', '5/9/1984', 1),
 (10232, 'Le', 'Binh', '', 'F', 1886, 'MA', '06/14/87', 0),
 (10087, 'Leach', 'Dallas', '', 'F', 1810, 'MA', '01/17/79', 0),
 (10134, 'LeBlanc', 'Brandon', 'R', 'M ', 1460, 'MA', '6/10/1984', 1),
 (10251, 'Lecter', 'Hannibal', '', 'M ', 1776, 'MA', '9/2/1982', 1),
 (10103, 'Leruth', 'Giovanni', '', 'M ', 84111, 'UT', '12/27/88', 3),
 (10017, 'Liebig', 'Ketsia', '', 'F', 2110, 'MA', '10/26/81', 1),
 (10186, 'Linares', 'Marilyn', '', 'F', 1886, 'MA', '03/26/81', 1),
 (10137, 'Linden', 'Mathew', '', 'M ', 1770, 'MA', '03/19/79', 1),
 (10008, 'Lindsay', 'Leonara', '', 'F', 6070, 'CT', '10/5/1988', 0),
 (10096, 'Lundy', 'Susan', '', 'F', 2122, 'MA', '12/26/76', 4),
 (10035, 'Lunquist', 'Lisa', '', 'F', 2324, 'MA', '03/28/82', 0),
 (10057, 'Lydon', 'Allison', '', 'F', 2122, 'MA', '10/22/75', 1),
 (10004, 'Lynch', 'Lindsay', '', 'F', 1844, 'MA', '02/14/73', 0),
 (10191, 'MacLennan', 'Samuel', '', 'M ', 1938, 'MA', '11/9/1972', 4),
 (10219, 'Mahoney', 'Lauren', '', 'F', 2189, 'MA', '7/7/1986', 0),
 (10077, 'Manchester', 'Robyn', '', 'F', 2324, 'MA', '08/25/76', 1),
 (10073, 'Mancuso', 'Karen', '', 'F', 2176, 'MA', '12/10/1986', 1),
 (10279, 'Mangal', 'Debbie', '', 'F', 2451, 'MA', '11/7/1974', 1),
 (10110, 'Martin', 'Sandra', '', 'F', 2135, 'MA', '11/7/1987', 0),
 (10053, 'Maurice', 'Shana', '', 'F', 2330, 'MA', '11/22/77', 1),
 (10076, 'Carthy', "B'rigit", '', 'F', 2149, 'MA', '05/21/87', 0),
 (10145, 'Mckenna', 'Sandy', '', 'F', 2184, 'MA', '1/7/1987', 1),
 (10202, 'McKinzie', 'Jac', '', 'M ', 78789, 'TX', '7/1/1984', 1),
 (10128, 'Meads', 'Elizabeth', '', 'F', 1760, 'MA', '05/30/68', 0),
 (10068, 'Medeiros', 'Jennifer', '', 'F', 2346, 'MA', '09/22/76', 0),
 (10116, 'Miller', 'Brannon', '', 'M ', 2045, 'MA', '8/10/1981', 0),
 (10298, 'Miller', 'Ned', '', 'M ', 2472, 'MA', '06/29/85', 0),
 (10213, 'Monkfish', 'Erasumus', '', 'M ', 1450, 'MA', '08/17/92', 1),
 (10288, 'Monroe', 'Peter', '', 'M ', 2134, 'MA', '10/5/1986', 1),
 (10025, 'Monterro', 'Luisa', '', 'F', 2126, 'MA', '04/24/70', 0),
 (10223, 'Moran', 'Patrick', '', 'M ', 2127, 'MA', '12/3/1976', 0),
 (10151, 'Morway', 'Tanya', '', 'F', 2048, 'MA', '4/4/1979', 1),
 (10254, 'Motlagh', 'Dawn', '', 'F', 2453, 'MA', '7/7/1984', 2),
 (10120, 'Moumanil', 'Maliki', '', 'M ', 1460, 'MA', '12/1/1974', 3),
 (10216, 'Myers', 'Michael', '', 'M ', 1550, 'MA', '04/18/80', 0),
 (10079, 'Navathe', 'Kurt', '', 'M ', 2056, 'MA', '04/25/70', 0),
 (10215, 'Ndzi', 'Colombui', '', 'M ', 2110, 'MA', '5/2/1989', 0),
 (10185, 'Ndzi', 'Horia', '', 'M ', 2421, 'MA', '03/28/83', 1),
 (10063, 'Newman', 'Richard', '', 'M ', 2136, 'MA', '4/8/1977', 1),
 (10037, 'Ngodup', 'Shari', '', 'F', 1810, 'MA', '6/3/1967', 3),
 (10042, 'Nguyen', 'Dheepa', '', 'F', 30428, 'GA', '03/31/89', 0),
 (10206, 'Nguyen', 'Lei-Ming', '', 'F', 2132, 'MA', '7/7/1984', 0),
 (10104, 'Nowlan', 'Kristie', '', 'F', 1040, 'MA', '11/23/85', 0),
 (10303, "O'hare", 'Lynn', '', 'F', 2152, 'MA', '09/30/80', 0),
 (10078, 'Oliver', 'Brooke', '', 'F', 2492, 'MA', '2/11/1952', 1),
 (10121, 'Onque', 'Jasmine', '', 'F', 33174, 'FL', '5/11/1990', 0),
 (10021, 'Osturnka', 'Adeel', '', 'M ', 2478, 'MA', '12/11/1976', 1),
 (10281, 'Owad', 'Clinton', '', 'M ', 1760, 'MA', '11/24/79', 0),
 (10041, 'Ozark', 'Travis', '', 'M ', 27229, 'NC', '05/19/82', 0),
 (10148, 'Panjwani', 'Nina', '', 'F', 2351, 'MA', '5/1/1979', 1),
 (10005, 'Patronick', 'Lucas', '', 'M ', 1844, 'MA', '02/20/79', 0),
 (10259, 'Pearson', 'Randall', '', 'M ', 2747, 'MA', '9/5/1984', 1),
 (10286, 'Smith', 'Martin', '', 'M ', 2458, 'MA', '03/17/88', 0),
 (10297, 'Pelletier', 'Ermine', '', 'F', 2472, 'MA', '07/18/89', 1),
 (10171, 'Perry', 'Shakira', '', 'F', 2176, 'MA', '07/20/86', 0),
 (10032, 'Peters', 'Lauren', '', 'F', 1886, 'MA', '08/17/86', 1),
 (10130, 'Peterson', 'Ebonee', '', 'F', 2030, 'MA', '5/9/1977', 1),
 (10217, 'Petingill', 'Shana', '', 'F', 2050, 'MA', '3/10/1979', 1),
 (10016, 'Petrowsky', 'Thelma', '', 'F', 1886, 'MA', '09/16/84', 1),
 (10050, 'Pham', 'Hong', '', 'M ', 2451, 'MA', '3/6/1988', 1),
 (10164, 'Pitt', 'Brad', '', 'M ', 2451, 'MA', '11/23/81', 0),
 (10124, 'Potts', 'Xana', '', 'F', 40220, 'KY', '08/29/88', 1),
 (10187, 'Power', 'Morissa', '', 'F', 1742, 'MA', '10/15/84', 2),
 (10225, 'Punjabhi', 'Louis', '', 'M ', 2109, 'MA', '06/19/61', 0),
 (10262, 'Purinton', 'Janine', '', 'F', 2474, 'MA', '09/22/70', 2),
 (10131, 'Quinn', 'Sean', '', 'M ', 2045, 'MA', '11/6/1984', 1),
 (10239, 'Rachael', 'Maggie', '', 'F', 2110, 'MA', '5/12/1980', 1),
 (10152, 'Rarrick', 'Quinn', '', 'M ', 2478, 'MA', '12/31/84', 2),
 (10140, 'Ren', 'Kylo', '', 'M ', 83706, 'ID', '10/12/1954', 1),
 (10058, 'Rhoads', 'Thomas', '', 'M ', 2176, 'MA', '07/22/82', 2),
 (10011, 'Rivera', 'Haley', '', 'F', 2171, 'MA', '1/12/1973', 1),
 (10230, 'Roberson', 'May', '', 'F', 1902, 'MA', '9/5/1981', 2),
 (10224, 'Robertson', 'Peter', '', 'M ', 2138, 'MA', '7/3/1972', 1),
 (10047, 'Robinson', 'Alain', '', 'M ', 1420, 'MA', '1/7/1974', 1),
 (10285, 'Robinson', 'Cherly', '', 'F', 1460, 'MA', '1/7/1985', 1),
 (10020, 'Robinson', 'Elias', '', 'M ', 1730, 'MA', '01/28/85', 4),
 (10162, 'Roby', 'Lori', '', 'F', 1886, 'MA', '10/11/1981', 1),
 (10149, 'Roehrich', 'Bianca', '', 'F', 2703, 'MA', '05/27/73', 0),
 (10086, 'Roper', 'Katie', '', 'F', 2056, 'MA', '11/21/72', 0),
 (10054, 'Rose', 'Ashley', '', 'F', 1886, 'MA', '12/5/1974', 3),
 (10065, 'Rossetti', 'Bruno', '', 'M ', 2155, 'MA', '03/18/87', 0),
 (10198, 'Roup', 'Simon', '', 'M ', 2481, 'MA', '4/5/1973', 0),
 (10222, 'Ruiz', 'Ricardo', '', 'M ', 1915, 'MA', '1/4/1964', 2),
 (10126, 'Saada', 'Adell', '', 'F', 2132, 'MA', '07/24/86', 1),
 (10295, 'Saar-Beckles', 'Melinda', '', 'F', 1801, 'MA', '6/6/1968', 0),
 (10260, 'Sadki', 'Nore', '', 'M ', 2148, 'MA', '12/21/74', 0),
 (10233, 'Sahoo', 'Adil', '', 'M ', 2062, 'MA', '04/26/86', 1),
 (10229, 'Salter', 'Jason', '', 'M ', 2452, 'MA', '12/17/87', 2),
 (10169, 'Sander', 'Kamrin', '', 'F', 2154, 'MA', '7/10/1988', 1),
 (10071, 'Sewkumar', 'Nori', '', 'F', 2191, 'MA', '3/10/1975', 0),
 (10179, 'Shepard', 'Anita', '', 'F', 1773, 'MA', '04/14/81', 1),
 (10091, 'Shields', 'Seffi', '', 'F', 2149, 'MA', '08/24/85', 1),
 (10178, 'Simard', 'Kramer', '', 'M ', 2110, 'MA', '2/8/1970', 1),
 (10039, 'Singh', 'Nan', '', 'F', 2330, 'MA', '05/19/88', 0),
 (10095, 'Sloan', 'Constance', '', 'F', 1851, 'MA', '11/25/87', 0),
 (10027, 'Smith', 'Joe', '', 'M ', 2045, 'MA', '10/30/63', 0),
 (10291, 'Smith', 'John', '', 'M ', 1886, 'MA', '08/16/84', 2),
 (10153, 'Smith', 'Leigh', 'Ann', 'F', 1844, 'MA', '06/14/87', 1),
 (10157, 'Smith', 'Sade', '', 'F', 2130, 'MA', '2/2/1965', 0),
 (10119, 'Soto', 'Julia', '', 'F', 2360, 'MA', '3/12/1973', 1),
 (10180, 'Soze', 'Keyser', '', 'M ', 1545, 'MA', '2/9/1983', 1),
 (10302, 'Sparks', 'Taylor', '', 'F', 2093, 'MA', '07/20/68', 1),
 (10090, 'Spirea', 'Kelley', '', 'F', 2451, 'MA', '09/30/75', 1),
 (10030, 'Squatrito', 'Kristen', '', 'F', 2359, 'MA', '03/26/73', 2),
 (10278, 'Stanford', 'Barbara', 'M', 'F', 2050, 'MA', '08/25/82', 2),
 (10307, 'Stansfield', 'Norman', '', 'M ', 89139, 'NV', '5/9/1974', 1),
 (10147, 'Steans', 'Tyrone', '', 'M ', 2703, 'MA', '9/1/1986', 0),
 (10266, 'Stoica', 'Rick', '', 'M ', 2301, 'MA', '03/14/85', 1),
 (10241, 'Strong', 'Caitrin', '', 'F', 59102, 'MT', '5/12/1989', 1),
 (10158, 'Sullivan', 'Kissy', '', 'F', 1776, 'MA', '03/28/78', 1),
 (10117, 'Sullivan', 'Timothy', '', 'M ', 2747, 'MA', '10/7/1982', 1),
 (10209, 'Sutwell', 'Barbara', '', 'F', 2718, 'MA', '08/15/68', 0),
 (10024, 'Szabo', 'Andrew', '', 'M ', 2140, 'MA', '5/6/1983', 0),
 (10173, 'Tannen', 'Biff', '', 'M ', 2134, 'MA', '10/24/87', 1),
 (10221, 'Tavares', 'Desiree', '', 'F', 1801, 'MA', '4/3/1975', 1),
 (10146, 'Tejeda', 'Lenora', '', 'F', 2129, 'MA', '05/24/53', 1),
 (10161, 'Terry', 'Sharlene', '', 'F', 97756, 'OR', '5/7/1965', 0),
 (10141, 'Theamstern', 'Sophia', '', 'F', 2066, 'MA', '5/9/1965', 0),
 (10268, 'Thibaud', 'Kenneth', '', 'M ', 2472, 'MA', '09/16/75', 4),
 (10123, 'Tippett', 'Jeanette', '', 'F', 2093, 'MA', '6/5/1967', 2),
 (10013, 'Torrence', 'Jack', '', 'M ', 58782, 'ND', '01/15/68', 3),
 (10287, 'Trang', 'Mei', '', 'F', 2021, 'MA', '05/16/83', 0),
 (10044, 'Tredinnick', 'Neville', '', 'M ', 1420, 'MA', '5/5/1988', 1),
 (10102, 'TRUE', 'Edward', '', 'M ', 2451, 'MA', '06/14/83', 0),
 (10270, 'Trzeciak', 'Cybil', '', 'F', 1778, 'MA', '03/15/85', 0),
 (10045, 'Turpin', 'Jumil', '', 'M ', 2343, 'MA', '03/31/69', 1),
 (10205, 'Valentin', 'Jackie', '', 'F', 85006, 'AZ', '05/23/91', 1),
 (10014, 'Veera', 'Abdellah', '', 'M ', 2171, 'MA', '01/31/87', 2),
 (10144, 'Vega', 'Vincent', '', 'M ', 2169, 'MA', '10/10/1968', 2),
 (10253, 'Villanueva', 'Noah', '', 'M ', 4063, 'ME', '7/11/1989', 0),
 (10118, 'Voldemort', 'Lord', '', 'M ', 1960, 'MA', '8/7/1986', 1),
 (10022, 'Volk', 'Colleen', '', 'F', 2747, 'MA', '6/3/1986', 1),
 (10183, 'Von', 'Massenbach', 'Anna', 'F', 2124, 'MA', '4/6/1985', 0),
 (10190, 'Walker', 'Roger', '', 'M ', 2459, 'MA', '2/10/1976', 0),
 (10274, 'Wallace', 'Courtney', 'E', 'F', 2478, 'MA', '11/14/55', 1),
 (10293, 'Wallace', 'Theresa', '', 'F', 1887, 'MA', '8/2/1980', 0),

In [7]:
%%sql SELECT EmpID FROM HR
GROUP BY EmpID
HAVING COUNT(EmpID) > 1;

 * sqlite:///HRData.db
Done.

[]

No duplicated data.

#### Total Employees in the Company

In [8]:
%sql SELECT count(*) as [Total Employees] FROM HR;

 * sqlite:///HRData.db
Done.

[(311,)]

#### Total Employees in Every Department

In [12]:
%sql SELECT * FROM info;

 * sqlite:///HRData.db
Done.

[(10026, 1, 62506, 5, 22, 'Active', 'LinkedIn', '7/5/2011', '', 'N/A-StillEmployed'),
 (10084, 2, 104437, 3, 4, 'Voluntarily Terminated', 'Indeed', '3/30/2015', '6/16/2016', 'career change'),
 (10196, 3, 64955, 5, 20, 'Voluntarily Terminated', 'LinkedIn', '7/5/2011', '9/24/2012', 'hours'),
 (10088, 4, 64991, 5, 16, 'Active', 'Indeed', '1/7/2008', '', 'N/A-StillEmployed'),
 (10069, 5, 50825, 5, 39, 'Voluntarily Terminated', 'Google Search', '7/11/2011', '9/6/2016', 'return to school'),
 (10002, 6, 57568, 5, 11, 'Active', 'LinkedIn', '1/9/2012', '', 'N/A-StillEmployed'),
 (10194, 7, 95660, 4, 10, 'Active', 'LinkedIn', '11/10/2014', '', 'N/A-StillEmployed'),
 (10062, 8, 59365, 5, 19, 'Active', 'Employee Referral', '9/30/2013', '', 'N/A-StillEmployed'),
 (10114, 9, 47837, 5, 12, 'Active', 'Diversity Job Fair', '7/6/2009', '', 'N/A-StillEmployed'),
 (10250, 10, 50178, 3, 7, 'Active', 'Indeed', '1/5/2015', '', 'N/A-StillEmployed'),
 (10252, 11, 54670, 5, 14, 'Voluntarily Terminated', 'Diversity Job Fair', '1/10/2011', '1/12/2017', 'Another position'),
 (10242, 12, 47211, 5, 20, 'Voluntarily Terminated', 'Diversity Job Fair', '4/2/2012', '9/19/2016', 'unhappy'),
 (10012, 13, 92328, 3, 4, 'Active', 'Diversity Job Fair', '11/10/2014', '', 'N/A-StillEmployed'),
 (10265, 14, 58709, 5, 18, 'Active', 'Google Search', '2/20/2012', '', 'N/A-StillEmployed'),
 (10066, 15, 52505, 5, 22, 'Voluntarily Terminated', 'On-line Web application', '9/24/2012', '4/6/2017', 'Another position'),
 (10061, 16, 57834, 5, 18, 'Terminated for Cause', 'Google Search', '2/21/2011', '8/4/2017', 'attendance'),
 (10023, 17, 70131, 5, 18, 'Active', 'Employee Referral', '7/21/2016', '', 'N/A-StillEmployed'),
 (10055, 18, 59026, 5, 16, 'Active', 'Google Search', '4/4/2011', '', 'N/A-StillEmployed'),
 (10245, 19, 110000, 3, 4, 'Terminated for Cause', 'Google Search', '7/7/2014', '9/12/2015', 'performance'),
 (10277, 20, 53250, 5, '', 'Active', 'LinkedIn', '7/8/2013', '', 'N/A-StillEmployed'),
 (10046, 21, 51044, 5, 11, 'Active', 'Google Search', '4/2/2012', '', 'N/A-StillEmployed'),
 (10226, 22, 64919, 5, 19, 'Active', 'Indeed', '8/19/2013', '', 'N/A-StillEmployed'),
 (10003, 23, 62910, 5, 12, 'Active', 'Indeed', '7/7/2014', '', 'N/A-StillEmployed'),
 (10294, 24, 66441, 5, 22, 'Active', 'CareerBuilder', '4/4/2011', '', 'N/A-StillEmployed'),
 (10267, 25, 57815, 5, 16, 'Voluntarily Terminated', 'Google Search', '1/10/2011', '4/4/2014', 'career change'),
 (10199, 26, 103613, 3, 4, 'Terminated for Cause', 'LinkedIn', '2/17/2014', '2/19/2016', 'Learned that he is a gangster'),
 (10081, 27, 106367, 1, 3, 'Active', 'Diversity Job Fair', '2/16/2015', '', 'N/A-StillEmployed'),
 (10175, 28, 74312, 5, 2, 'Voluntarily Terminated', 'Indeed', '9/30/2013', '8/7/2014', 'retiring'),
 (10177, 29, 53492, 5, 14, 'Voluntarily Terminated', 'Google Search', '4/2/2012', '6/15/2013', 'Another position'),
 (10238, 30, 63000, 1, 1, 'Active', 'Diversity Job Fair', '10/27/2008', '', 'N/A-StillEmployed'),
 (10184, '', 65288, 5, '', 'Active', 'Google Search', '9/29/2014', '', 'N/A-StillEmployed'),
 (10203, '', 64375, 5, 20, 'Active', 'Diversity Job Fair', '11/11/2013', '', 'N/A-StillEmployed'),
 (10188, '', 74326, 6, 17, 'Voluntarily Terminated', 'Google Search', '8/15/2011', '8/2/2014', 'Another position'),
 (10107, '', 63763, 5, 11, 'Active', 'Employee Referral', '3/5/2012', '', 'N/A-StillEmployed'),
 (10181, '', 62162, 5, 19, 'Active', 'Indeed', '4/4/2011', '', 'N/A-StillEmployed'),
 (10150, '', 77692, 4, 5, 'Active', 'Google Search', '8/15/2011', '', 'N/A-StillEmployed'),
 (10001, '', 72640, 5, 2, 'Active', 'Indeed', '1/28/2016', '', 'N/A-StillEmployed'),
 (10085, '', 93396, 4, 10, 'Active', 'Indeed', '11/11/2013', '', 'N/A-StillEmployed'),
 (10115, '', 52846, 5, 18, 'Active', 'LinkedIn', '3/31/2014', '', 'N/A-StillEmployed'),
 (10082, '', 100031, 3, 4, 'Active', 'LinkedIn', '6/30/2016', '', 'N/A-StillEmployed'),
 (10040, '', 71860, 6, 17, 'Active', 'Indeed', '8/18/2014', '', 'N/A-StillEmployed'),
 (10067, '', 61656, 5, 22, 'Active', 'Google Search', '9/29/2014', '', 'N/A-StillEmployed'),
 (10108, '', 110929, 3, 5, 'Active', 'Indeed', '9/6/2016', '', 'N/A-StillEmployed'),
 (10210, '', 54237, 5, 16, 'Active', 'Indeed', '5/12/2014', '', 'N/A-StillEmployed'),
 (10154, '', 60380, 5, '', 'Active', 'LinkedIn', '7/8/2013', '', 'N/A-StillEmployed'),
 (10200, '', 66808, 6, 21, 'Active', 'Employee Referral', '5/14/2012', '', 'N/A-StillEmployed'),
 (10240, '', 64786, 5, 11, 'Voluntarily Terminated', 'Indeed', '6/27/2011', '11/15/2015', 'relocation out of area'),
 (10168, '', 64816, 5, 19, 'Active', 'Indeed', '10/3/2011', '', 'N/A-StillEmployed'),
 (10220, '', 68678, 3, 6, 'Active', 'Indeed', '9/5/2012', '', 'N/A-StillEmployed'),
 (10275, '', 64066, 5, 12, 'Voluntarily Terminated', 'Google Search', '5/16/2011', '1/7/2013', 'unhappy'),
 (10269, '', 59369, 5, 14, 'Voluntarily Terminated', 'Indeed', '8/30/2010', '9/26/2011', 'career change'),
 (10029, '', 50373, 5, 12, 'Active', 'Employee Referral', '7/6/2016', '', 'N/A-StillEmployed'),
 (10261, '', 63108, 5, 14, 'Active', 'Employee Referral', '7/8/2013', '', 'N/A-StillEmployed'),
 (10292, '', 59144, 5, 20, 'Terminated for Cause', 'LinkedIn', '7/11/2011', '9/23/2016', 'performance'),
 (10282, '', 68051, 5, 2, 'Active', 'CareerBuilder', '7/20/2010', '', 'N/A-StillEmployed'),
 (10019, '', 170500, 5, 2, 'Active', 'Indeed', '1/5/2009', '', 'N/A-StillEmployed'),
 (10094, '', 63381, 5, 18, 'Active', 'Indeed', '1/5/2015', '', 'N/A-StillEmployed'),
 (10193, '', 83552, 3, 4, 'Active', 'Indeed', '3/30/2015', '', 'N/A-StillEmployed'),
 (10132, '', 56149, 5, 22, 'Active', 'LinkedIn', '7/6/2016', '', 'N/A-StillEmployed'),
 (10083, '', 92329, 3, 7, 'Active', 'Employee Referral', '11/10/2014', '', 'N/A-StillEmployed'),
 (10099, '', 65729, 6, 15, 'Active', 'Indeed', '5/5/2014', '', 'N/A-StillEmployed'),
 (10212, '', 85028, 3, 7, 'Active', 'LinkedIn', '11/10/2014', '', 'N/A-StillEmployed'),
 (10056, '', 57583, 5, 16, 'Active', 'Indeed', '7/2/2012', '', 'N/A-StillEmployed'),
 (10143, '', 56294, 5, 20, 'Active', 'LinkedIn', '11/7/2011', '', 'N/A-StillEmployed'),
 (10311, '', 56991, 6, 12, 'Active', 'Indeed', '7/9/2018', '', 'N/A-StillEmployed'),
 (10070, '', 55722, 5, 39, 'Voluntarily Terminated', 'Indeed', '5/16/2011', '6/8/2016', 'unhappy'),
 (10155, '', 101199, 4, 10, 'Active', 'CareerBuilder', '1/9/2012', '', 'N/A-StillEmployed'),
 (10306, '', 61568, 6, 17, 'Active', 'Indeed', '9/29/2014', '', 'N/A-StillEmployed'),
 (10100, '', 58275, 5, 18, 'Voluntarily Terminated', 'Google Search', '4/4/2011', '11/4/2015', 'more money'),
 (10310, '', 53189, 5, 11, 'Active', 'Indeed', '7/7/2014', '', 'N/A-StillEmployed'),
 (10197, '', 96820, 3, 13, 'Active', 'Indeed', '2/15/2017', '', 'N/A-StillEmployed'),
 (10276, '', 51259, 5, 19, 'Active', 'Indeed', '5/12/2014', '', 'N/A-StillEmployed'),
 (10304, '', 59231, 6, 17, 'Active', 'Website', '2/20/2012', '', 'N/A-StillEmployed'),
 (10284, '', 61584, 5, 12, 'Active', 'Indeed', '1/7/2013', '', 'N/A-StillEmployed'),
 (10207, '', 46335, 5, 14, 'Active', 'CareerBuilder', '4/2/2012', '', 'N/A-StillEmployed'),
 (10133, '', 70621, 3, 7, 'Active', 'Employee Referral', '1/5/2015', '', 'N/A-StillEmployed'),
 (10028, '', 138888, 3, 5, 'Active', 'Indeed', '1/5/2014', '', 'N/A-StillEmployed'),
 (10006, '', 74241, 6, 21, 'Active', 'Indeed', '1/10/2011', '', 'N/A-StillEmployed'),
 (10105, '', 75188, 5, 2, 'Active', 'Google Search', '9/18/2014', '', 'N/A-StillEmployed'),
 (10211, '', 62514, 5, 19, 'Active', 'Google Search', '4/26/2010', '', 'N/A-StillEmployed'),
 (10064, '', 60070, 5, 20, 'Voluntarily Terminated', 'Google Search', '4/4/2011', '6/6/2017', 'military'),
 (10247, '', 48888, 5, 18, 'Active', 'LinkedIn', '11/10/2014', '', 'N/A-StillEmployed'),
 (10235, '', 54285, 5, 18, 'Active', 'Employee Referral', '3/31/2014', '', 'N/A-StillEmployed'),
 (10299, '', 56847, 5, 22, 'Active', 'Indeed', '7/7/2014', '', 'N/A-StillEmployed'),
 (10280, '', 60340, 5, 22, 'Terminated for Cause', 'Google Search', '4/2/2012', '9/27/2018', 'attendance'),
 (10296, '', 59124, 5, 16, 'Terminated for Cause', 'Google Search', '2/17/2014', '2/25/2018', 'no-call, no-show'),
 (10290, '', 99280, 4, 10, 'Terminated for Cause', 'Indeed', '5/2/2011', '6/5/2013', 'attendance'),
 (10263, '', 71776, 5, 16, 'Active', 'LinkedIn', '7/7/2014', '', 'N/A-StillEmployed'),
 (10136, '', 65902, 5, '', 'Active', 'LinkedIn', '2/17/2014', '', 'N/A-StillEmployed'),
 (10189, '', 57748, 5, 39, 'Voluntarily Terminated', 'Google Search', '11/7/2011', '5/17/2016', 'military'),
 (10308, '', 64057, 5, 11, 'Active', 'Indeed', '5/11/2015', '', 'N/A-StillEmployed'),
 (10309, '', 53366, 3, 7, 'Active', 'LinkedIn', '3/30/2015', '', 'N/A-StillEmployed'),
 (10049, '', 58530, 5, 12, 'Active', 'Google Search', '1/9/2012', '', 'N/A-StillEmployed'),
 (10093, '', 72609, 5, 11, 'Voluntarily Terminated', 'Google Search', '5/16/2011', '6/24/2013', 'hours'),
 (10163, '', 55965, 5, 19, 'Voluntarily Terminated', 'Google Search', '4/4/2011', '1/9/2013', 'career change'),
 (10305, '', 70187, 6, 21, 'Terminated for Cause', 'Employee Referral', '9/29/2014', '8/19/2018', 'Fatal attraction'),
 (10015, '', 178000, 3, 5, 'Active', 'Indeed', '4/15/2011', '', 'N/A-StillEmployed'),
 (10080, '', 99351, 1, 9, 'Active', 'Other', '1/5/2009', '', 'N/A-StillEmployed'),
 (10258, '', 67251, 6, 21, 'Active', 'CareerBuilder', '9/6/2011', '', 'N/A-StillEmployed'),
 (10273, '', 65707, 3, 6, 'Active', 'LinkedIn', '5/1/2010', '', 'N/A-StillEmployed'),
 (10111, '', 52249, 5, 14, 'Active', 'Employee Referral', '3/30/2015', '', 'N/A-StillEmployed'),
 (10257, '', 53171, 5, 18, 'Active', 'LinkedIn', '5/16/2011', '', 'N/A-StillEmployed'),
 (10159, '', 51337, 5, 22, 'Active', 'LinkedIn', '3/30/2015', '', 'N/A-StillEmployed'),
 (10122, '', 51505, 5, 16, 'Voluntarily Terminated', 'Diversity Job Fair', '11/7/2011', '11/15/2016', 'hours'),
 (10142, '', 59370, 6, 17, 'Terminated for Cause', 'CareerBuilder', '7/7/2014', '9/5/2015', 'attendance'),
 (10283, '', 54933, 5, 39, 'Voluntarily Terminated', 'Diversity Job Fair', '4/2/2012', '6/25/2015', 'military'),
 (10018, '', 57815, 5, 11, 'Active', 'Indeed', '9/29/2014', '', 'N/A-StillEmployed'),
 (10255, '', 61555, 6, 21, 'Active', 'Indeed', '2/16/2015', '', 'N/A-StillEmployed'),
 (10246, '', 114800, 3, 4, 'Terminated for Cause', 'Indeed', '2/16/2015', '3/15/2015', 'no-call, no-show'),
 (10228, '', 74679, 3, 7, 'Active', 'LinkedIn', '3/30/2015', '', 'N/A-StillEmployed'),
 (10243, '', 53018, 5, 19, 'Active', 'Indeed', '11/11/2013', '', 'N/A-StillEmployed'),
 (10031, '', 59892, 5, 12, 'Active', 'Diversity Job Fair', '7/11/2011', '', 'N/A-StillEmployed'),
 (10300, '', 68898, 5, 12, 'Voluntarily Terminated', 'Diversity Job Fair', '4/26/2010', '5/30/2011', 'career change'),
 (10101, '', 61242, 3, 7, 'Active', 'Employee Referral', '1/5/2015', '', 'N/A-StillEmployed'),
 (10237, '', 66825, 5, 14, 'Active', 'LinkedIn', '5/12/2014', '', 'N/A-StillEmployed'),
 (10051, '', 48285, 5, 14, 'Active', 'LinkedIn', '7/2/2012', '', 'N/A-StillEmployed'),
 (10218, '', 66149, 5, 20, 'Active', 'Google Search', '9/30/2013', '', 'N/A-StillEmployed'),
 (10256, '', 49256, 5, 20, 'Active', 'LinkedIn', '8/19/2013', '', 'N/A-StillEmployed'),
 (10098, '', 62957, 5, 2, 'Active', 'Employee Referral', '6/2/2015', '', 'N/A-StillEmployed'),
 (10059, '', 63813, 5, 18, 'Voluntarily Terminated', 'CareerBuilder', '2/21/2011', '1/11/2014', 'more money'),
 (10234, '', 99020, 3, 13, 'Active', 'Indeed', '4/20/2017', '', 'N/A-StillEmployed'),
 (10109, '', 71707, 6, 17, 'Voluntarily Terminated', 'LinkedIn', '3/7/2012', '10/31/2014', 'relocation out of area'),
 (10125, '', 54828, 5, 22, 'Active', 'Google Search', '11/28/2011', '', 'N/A-StillEmployed'),
 (10074, '', 64246, 5, 18, 'Active', 'LinkedIn', '11/11/2013', '', 'N/A-StillEmployed'),
 (10097, '', 52177, 5, 39, 'Voluntarily Terminated', 'CareerBuilder', '1/9/2012', '12/15/2015', 'retiring'),
 (10007, '', 62065, 5, 11, 'Active', 'CareerBuilder', '5/12/2014', '', 'N/A-StillEmployed'),
 (10129, '', 46998, 5, 19, 'Active', 'Google Search', '8/13/2012', '', 'N/A-StillEmployed'),
 (10075, '', 68099, 5, 18, 'Voluntarily Terminated', 'CareerBuilder', '1/10/2011', '6/18/2013', 'hours'),
 (10167, '', 70545, 6, 17, 'Active', 'Indeed', '8/18/2014', '', 'N/A-StillEmployed'),
 (10195, '', 63478, 5, 30, 'Voluntarily Terminated', 'Indeed', '8/15/2011', '4/7/2012', 'relocation out of area'),
 (10112, '', 97999, 3, 4, 'Active', 'Indeed', '3/30/2015', '', 'N/A-StillEmployed'),
 (10272, '', 180000, 6, 2, 'Active', 'LinkedIn', '5/5/2014', '', 'N/A-StillEmployed'),
 (10182, '', 49920, 1, 1, 'Terminated for Cause', 'Indeed', '2/16/2015', '4/15/2015', 'no-call, no-show'),
 (10248, '', 55425, 5, 19, 'Active', 'LinkedIn', '2/20/2012', '', 'N/A-StillEmployed'),
 (10201, '', 69340, 5, 16, 'Active', 'LinkedIn', '6/6/2016', '', 'N/A-StillEmployed'),
 (10214, '', 64995, 5, '', 'Active', 'Indeed', '6/5/2015', '', 'N/A-StillEmployed'),
 (10160, '', 68182, 5, 11, 'Voluntarily Terminated', 'Google Search', '2/21/2011', '4/1/2013', 'unhappy'),
 (10289, '', 83082, 5, 2, 'Voluntarily Terminated', 'Indeed', '2/21/2011', '9/24/2012', 'unhappy'),
 (10139, '', 51908, 5, 12, 'Active', 'Indeed', '8/19/2013', '', 'N/A-StillEmployed'),
 (10227, '', 61242, 5, 14, 'Active', 'LinkedIn', '11/5/2012', '', 'N/A-StillEmployed'),
 (10236, '', 45069, 5, 20, 'Active', 'Employee Referral', '9/30/2013', '', 'N/A-StillEmployed'),
 (10009, '', 60724, 5, 19, 'Active', 'LinkedIn', '7/5/2011', '', 'N/A-StillEmployed'),
 (10060, '', 60436, 5, 18, 'Active', 'LinkedIn', '1/6/2014', '', 'N/A-StillEmployed'),
 (10034, '', 46837, 5, 22, 'Voluntarily Terminated', 'CareerBuilder', '11/7/2011', '4/29/2018', 'more money'),
 (10156, '', 105700, 3, 4, 'Active', 'Indeed', '1/5/2015', '', 'N/A-StillEmployed'),
 (10036, '', 63322, 5, 12, 'Active', 'LinkedIn', '7/7/2014', '', 'N/A-StillEmployed'),
 (10138, '', 61154, 5, 16, 'Voluntarily Terminated', 'CareerBuilder', '1/10/2011', '4/1/2016', 'unhappy'),
 (10244, '', 68999, 6, 15, 'Voluntarily Terminated', 'Google Search', '11/7/2011', '4/24/2014', 'maternity leave - did not return'),
 (10192, '', 50482, 5, 22, 'Active', 'Indeed', '9/30/2013', '', 'N/A-StillEmployed'),
 (10231, '', 65310, 6, 21, 'Active', 'Indeed', '8/19/2013', '', 'N/A-StillEmployed'),
 (10089, '', 250000, 2, 9, 'Active', 'Indeed', '7/2/2012', '', 'N/A-StillEmployed'),
 (10166, '', 54005, 5, 39, 'Voluntarily Terminated', 'Google Search', '9/26/2011', '6/4/2015', 'more money'),
 (10170, '', 45433, 5, 11, 'Voluntarily Terminated', 'Google Search', '9/26/2011', '1/9/2014', 'more money'),
 (10208, '', 46654, 5, 19, 'Active', 'LinkedIn', '2/17/2014', '', 'N/A-StillEmployed'),
 (10176, '', 63973, 5, 12, 'Active', 'Indeed', '1/10/2011', '', 'N/A-StillEmployed'),
 (10165, '', 71339, 6, 17, 'Active', 'Diversity Job Fair', '3/7/2011', '', 'N/A-StillEmployed'),
 (10113, '', 93206, 3, 7, 'Active', 'Employee Referral', '11/10/2014', '', 'N/A-StillEmployed'),
 (10092, '', 82758, 5, 2, 'Terminated for Cause', 'Employee Referral', '1/10/2011', '12/12/2015', 'attendance'),
 (10106, '', 66074, 5, 14, 'Voluntarily Terminated', 'Indeed', '1/7/2013', '3/31/2014', 'Another position'),
 (10052, '', 46120, 5, 14, 'Active', 'LinkedIn', '7/9/2012', '', 'N/A-StillEmployed'),
 (10038, '', 64520, 1, 1, 'Active', 'Website', '1/6/2014', '', 'N/A-StillEmployed'),
 (10249, '', 61962, 5, 20, 'Voluntarily Terminated', 'Google Search', '4/2/2012', '4/15/2013', 'more money'),
 (10232, '', 81584, 3, 13, 'Active', 'Indeed', '10/2/2016', '', 'N/A-StillEmployed'),
 (10087, '', 63676, 5, 20, 'Voluntarily Terminated', 'CareerBuilder', '9/26/2011', '8/19/2018', 'return to school'),
 (10134, '', 93046, 1, 2, 'Active', 'CareerBuilder', '1/5/2016', '', 'N/A-StillEmployed'),
 (10251, '', 64738, 5, 16, 'Active', 'Google Search', '5/14/2012', '', 'N/A-StillEmployed'),
 (10103, '', 70468, 6, 17, 'Active', 'Website', '4/30/2012', '', 'N/A-StillEmployed'),
 (10017, '', 77915, 5, 2, 'Active', 'Website', '9/30/2013', '', 'N/A-StillEmployed'),
 (10186, '', 52624, 5, 22, 'Voluntarily Terminated', 'Indeed', '7/5/2011', '9/26/2018', 'unhappy'),
 (10137, '', 63450, 5, 18, 'Active', 'LinkedIn', '7/8/2013', '', 'N/A-StillEmployed'),
 (10008, '', 51777, 3, 6, 'Active', 'Diversity Job Fair', '1/21/2011', '', 'N/A-StillEmployed'),
 (10096, '', 67237, 5, 22, 'Voluntarily Terminated', 'LinkedIn', '7/8/2013', '9/15/2016', 'more money'),
 (10035, '', 73330, 5, 16, 'Active', 'Indeed', '8/19/2013', '', 'N/A-StillEmployed'),
 (10057, '', 52057, 5, 16, 'Active', 'Website', '2/16/2015', '', 'N/A-StillEmployed'),
 (10004, '', 47434, 5, 39, 'Voluntarily Terminated', 'Diversity Job Fair', '11/7/2011', '11/14/2015', 'Another position'),
 (10191, '', 52788, 5, 11, 'Voluntarily Terminated', 'Indeed', '9/24/2012', '9/26/2017', 'hours'),
 (10219, '', 45395, 5, 19, 'Active', 'LinkedIn', '1/6/2014', '', 'N/A-StillEmployed'),
 (10077, '', 62385, 5, '', 'Active', 'LinkedIn', '5/11/2016', '', 'N/A-StillEmployed'),
 (10073, '', 68407, 5, 11, 'Voluntarily Terminated', 'LinkedIn', '7/5/2011', '8/19/2012', 'Another position'),
 (10279, '', 61349, 5, 12, 'Active', 'LinkedIn', '11/11/2013', '', 'N/A-StillEmployed'),
 (10110, '', 105688, 4, 10, 'Active', 'Google Search', '11/11/2013', '', 'N/A-StillEmployed'),
 (10053, '', 54132, 5, 14, 'Active', 'Indeed', '5/31/2011', '', 'N/A-StillEmployed'),
 (10076, '', 55315, 5, 19, 'Active', 'LinkedIn', '3/30/2015', '', 'N/A-StillEmployed'),
 (10145, '', 62810, 5, 20, 'Active', 'CareerBuilder', '1/7/2013', '', 'N/A-StillEmployed'),
 (10202, '', 63291, 6, 21, 'Active', 'Website', '7/6/2016', '', 'N/A-StillEmployed'),
 (10128, '', 62659, 5, 18, 'Voluntarily Terminated', 'Diversity Job Fair', '4/2/2012', '11/11/2016', 'Another position'),
 (10068, '', 55688, 5, 22, 'Active', 'CareerBuilder', '3/30/2015', '', 'N/A-StillEmployed'),
 (10116, '', 83667, 5, 2, 'Active', 'Indeed', '8/16/2012', '', 'N/A-StillEmployed'),
 (10298, '', 55800, 5, 12, 'Voluntarily Terminated', 'LinkedIn', '8/15/2011', '9/4/2014', 'unhappy'),
 (10213, '', 58207, 5, 14, 'Active', 'LinkedIn', '11/7/2011', '', 'N/A-StillEmployed'),
 (10288, '', 157000, 3, 5, 'Active', 'Diversity Job Fair', '2/15/2012', '', 'N/A-StillEmployed'),
 (10025, '', 72460, 5, 20, 'Active', 'Indeed', '5/13/2013', '', 'N/A-StillEmployed'),
 (10223, '', 72106, 5, 18, 'Active', 'Diversity Job Fair', '1/9/2012', '', 'N/A-StillEmployed'),
 (10151, '', 52599, 3, 7, 'Active', 'CareerBuilder', '2/16/2015', '', 'N/A-StillEmployed'),
 (10254, '', 63430, 5, 16, 'Active', 'LinkedIn', '4/1/2013', '', 'N/A-StillEmployed'),
 (10120, '', 74417, 5, 22, 'Active', 'LinkedIn', '5/13/2013', '', 'N/A-StillEmployed'),
 (10216, '', 57575, 5, 20, 'Active', 'LinkedIn', '7/8/2013', '', 'N/A-StillEmployed'),
 (10079, '', 87921, 3, 13, 'Active', 'Indeed', '2/10/2017', '', 'N/A-StillEmployed'),
 (10215, '', 50470, 5, 39, 'Voluntarily Terminated', 'Diversity Job Fair', '9/26/2011', '4/4/2014', 'return to school'),
 (10185, '', 46664, 5, 11, 'Voluntarily Terminated', 'Employee Referral', '4/1/2013', '5/25/2016', 'more money'),
 (10063, '', 48495, 5, 19, 'Active', 'LinkedIn', '5/12/2014', '', 'N/A-StillEmployed'),
 (10037, '', 52984, 5, 12, 'Active', 'Diversity Job Fair', '4/1/2013', '', 'N/A-StillEmployed'),
 (10042, '', 63695, 6, 21, 'Active', 'Indeed', '7/8/2013', '', 'N/A-StillEmployed'),
 (10206, '', 62061, 5, 14, 'Active', 'LinkedIn', '7/8/2013', '', 'N/A-StillEmployed'),
 (10104, '', 66738, 5, 16, 'Active', 'Indeed', '11/10/2014', '', 'N/A-StillEmployed'),
 (10303, '', 52674, 5, 20, 'Terminated for Cause', 'LinkedIn', '3/31/2014', '5/1/2018', 'performance'),
 (10078, '', 71966, 5, 39, 'Voluntarily Terminated', 'LinkedIn', '5/14/2012', '8/19/2013', 'unhappy'),
 (10121, '', 63051, 6, 21, 'Active', 'Indeed', '9/30/2013', '', 'N/A-StillEmployed'),
 (10021, '', 47414, 5, 18, 'Active', 'LinkedIn', '9/30/2013', '', 'N/A-StillEmployed'),

In [10]:
%sql SELECT * FROM dept;

 * sqlite:///HRData.db
Done.

[(1, 'Admin Offices'),
 (2, 'Executive Office'),
 (3, 'IT/IS'),
 (4, 'Software Engineering'),
 (5, 'Production       '),
 (6, 'Sales')]

In [15]:
%%sql
SELECT d.department, count(*) as [Total Employees]
FROM dept as d
JOIN info as i
ON d.deptId = i.deptId
GROUP BY d.department
ORDER BY [Total Employees] DESC;

 * sqlite:///HRData.db
Done.

[('Production       ', 208),
 ('IT/IS', 50),
 ('Sales', 32),
 ('Software Engineering', 10),
 ('Admin Offices', 10),
 ('Executive Office', 1)]

#### Retrieving Employee's Biodata.

In [17]:
%sql SELECT * FROM maritalstatus;

 * sqlite:///HRData.db
Done.

[(0, 0, 'Single'),
 (1, 1, 'Married'),
 (2, 0, 'Divorced'),
 (3, 0, 'Separated'),
 (4, 0, 'Widowed')]

In [18]:
%%sql
SELECT EmpID,
       printf("%s, %s", First_Name, Last_Name) AS Name,
       printf("%s", Sex) as Gender,
       printf("%s", DOB) as [Date of Birth],
       printf("%s, %s", Zip, State) AS Address,
       printf("%s", ms.maritaldesc) as [Marital Status]
FROM maritalstatus as ms
JOIN HR as h
ON ms.maritalstatusid = h.maritalstatusid

 * sqlite:///HRData.db
Done.

[(10026, 'Adinolfi, Wilson', 'M ', '7/10/1983', '1960, MA', 'Single'),
 (10084, 'Ait, Sidi', 'M ', '5/5/1975', '2148, MA', 'Married'),
 (10196, 'Akinkuolie, Sarah', 'F', '09/19/88', '1810, MA', 'Married'),
 (10088, 'Alagbe, Trina', 'F', '09/27/88', '1886, MA', 'Married'),
 (10069, 'Anderson, Carol', 'F', '9/8/1989', '2169, MA', 'Divorced'),
 (10002, 'Anderson, Linda', 'F', '05/22/77', '1844, MA', 'Single'),
 (10194, 'Andreola, Colby', 'F', '05/24/79', '2110, MA', 'Single'),
 (10062, 'Athwal, Sam', 'M ', '02/18/83', '2199, MA', 'Widowed'),
 (10114, 'Bachiochi, Linda', 'F', '2/11/1970', '1902, MA', 'Single'),
 (10250, 'Bacong, Alejandro', 'M ', '1/7/1988', '1886, MA', 'Divorced'),
 (10252, 'Baczenski, Rachael', 'F', '1/12/1974', '1902, MA', 'Married'),
 (10242, 'Barbara, Thomas', 'M ', '02/21/74', '2062, MA', 'Married'),
 (10012, 'Barbossa, Hector', 'M ', '7/4/1988', '78230, TX', 'Divorced'),
 (10265, 'Barone, Francesco', 'M ', '07/20/83', '1810, MA', 'Single'),
 (10066, 'Barton, Nader', 'M ', '07/15/77', '2747, MA', 'Divorced'),
 (10061, 'Bates, Norman', 'M ', '10/18/81', '2050, MA', 'Single'),
 (10023, 'Beak, Kimberly', 'F', '04/17/66', '2145, MA', 'Married'),
 (10055, 'Beatrice, Courtney', 'F', '10/27/70', '1915, MA', 'Single'),
 (10245, 'Becker, Renee', 'F', '4/4/1986', '2026, MA', 'Single'),
 (10277, 'Becker, Scott', 'M ', '4/6/1979', '2452, MA', 'Single'),
 (10046, 'Bernstein, Sean', 'M ', '12/22/70', '2072, MA', 'Single'),
 (10226, 'Biden, Lowan', 'F', '12/27/58', '2027, MA', 'Divorced'),
 (10003, 'Billis, Helen', 'F', '9/1/1989', '2031, MA', 'Married'),
 (10294, 'Blount, Dianna', 'F', '09/21/90', '2171, MA', 'Single'),
 (10267, 'Bondwell, Betsy', 'F', '01/16/67', '2210, MA', 'Single'),
 (10199, 'Booth, Frank', 'M ', '07/30/64', '6033, CT', 'Single'),
 (10081, 'Boutwell, Bonalyn', 'F', '4/4/1987', '2468, MA', 'Married'),
 (10175, 'Bozzi, Charles', 'M ', '3/10/1970', '1901, MA', 'Single'),
 (10177, 'Brill, Donna', 'F', '08/24/90', '1701, MA', 'Married'),
 (10238, 'Brown, Mia', 'F', '11/24/87', '1450, MA', 'Married'),
 (10184, 'Buccheri, Joseph', 'M ', '07/28/83', '1013, MA', 'Single'),
 (10203, 'Bugali, Josephine', 'F', '10/30/69', '2043, MA', 'Separated'),
 (10188, 'Bunbury, Jessica', 'F', '6/1/1964', '21851, VA', 'Married'),
 (10107, 'Burke, Joelle', 'F', '3/2/1980', '2148, MA', 'Single'),
 (10181, 'Burkett, Benjamin', 'M ', '08/19/77', '1890, MA', 'Married'),
 (10150, 'Cady, Max', 'M ', '11/22/66', '2184, MA', 'Single'),
 (10001, 'Candie, Calvin', 'M ', '8/9/1983', '2169, MA', 'Single'),
 (10085, 'Carabbio, Judith', 'F', '4/5/1987', '2132, MA', 'Single'),
 (10115, 'Carey, Michael', 'M ', '2/2/1983', '1701, MA', 'Single'),
 (10082, 'Carr, Claudia', 'F', '6/6/1986', '1886, MA', 'Single'),
 (10040, 'Carter, Michelle', 'F', '05/15/63', '5664, VT', 'Single'),
 (10067, 'Chace, Beatrice', 'F', '1/2/1951', '2763, MA', 'Single'),
 (10108, 'Champaigne, Brian', 'M ', '2/9/1972', '2045, MA', 'Married'),
 (10210, 'Chan, Lin', 'F', '2/12/1979', '2170, MA', 'Single'),
 (10154, 'Chang, Donovan', 'M ', '08/24/83', '1845, MA', 'Single'),
 (10200, 'Chigurh, Anton', 'M ', '6/11/1970', '78207, TX', 'Single'),
 (10240, 'Chivukula, Enola', 'F', '08/27/83', '1775, MA', 'Single'),
 (10168, 'Cierpiszewski, Caroline', 'F', '05/31/88', '2044, MA', 'Single'),
 (10220, 'Clayton, Rick', 'M ', '9/5/1985', '2170, MA', 'Single'),
 (10275, 'Cloninger, Jennifer', 'F', '08/31/81', '1752, MA', 'Married'),
 (10269, 'Close, Phil', 'M ', '11/25/78', '2169, MA', 'Married'),
 (10029, 'Clukey, Elijian', 'M ', '08/26/80', '2134, MA', 'Married'),
 (10261, 'Cockel, James', 'M ', '9/8/1977', '2452, MA', 'Single'),
 (10292, 'Cole, Spencer', 'M ', '8/12/1979', '1880, MA', 'Single'),
 (10282, 'Corleone, Michael', 'M ', '12/17/75', '1803, MA', 'Divorced'),
 (10019, 'Corleone, Vito', 'M ', '03/19/83', '2030, MA', 'Single'),
 (10094, 'Cornett, Lisa', 'F', '03/31/77', '2189, MA', 'Married'),
 (10193, 'Costello, Frank', 'M ', '08/26/86', '1810, MA', 'Married'),
 (10132, 'Crimmings, Jean', 'F', '4/10/1987', '1821, MA', 'Single'),
 (10083, 'Cross, Noah', 'M ', '9/9/1965', '6278, CT', 'Single'),
 (10099, 'Daneault, Lynn', 'F', '04/19/90', '5473, VT', 'Single'),
 (10212, 'Daniele, Ann', 'F', '01/18/52', '6033, CT', 'Married'),
 (10056, "Darson, Jene'ya", 'F', '11/5/1978', '2110, MA', 'Married'),
 (10143, 'Davis, Daniel', 'M ', '09/14/79', '2458, MA', 'Single'),
 (10311, 'Dee, Randy', 'M ', '04/15/88', '2138, MA', 'Married'),
 (10070, 'DeGweck, James', 'M ', '10/31/77', '1810, MA', 'Married'),
 (10155, 'Del, Bosque', 'F', '7/5/1979', '2176, MA', 'Single'),
 (10306, 'Delarge, Alex', 'M ', '11/2/1975', '36006, AL', 'Single'),
 (10100, 'Demita, Carla', 'F', '02/25/51', '2343, MA', 'Separated'),
 (10310, 'Desimone, Carl', 'M ', '04/19/67', '2061, MA', 'Married'),
 (10197, 'DeVito, Tommy', 'M ', '9/4/1983', '2045, MA', 'Single'),
 (10276, 'Dickinson, Geoff', 'M ', '11/15/82', '2180, MA', 'Single'),
 (10304, 'Dietrich, Jenna', 'F', '05/14/87', '98052, WA', 'Single'),
 (10284, 'DiNocco, Lily', 'F', '12/2/1978', '2351, MA', 'Married'),
 (10207, 'Dobrin, Denisa', 'F', '10/7/1986', '2125, MA', 'Single'),
 (10133, 'Dolan, Linda', 'F', '07/18/88', '2119, MA', 'Married'),
 (10028, 'Dougall, Eric', 'M ', '7/9/1970', '1886, MA', 'Single'),
 (10006, 'Driver, Elle', 'F', '11/8/1988', '90007, CA', 'Single'),
 (10105, 'Dunn, Amy', 'F', '11/28/73', '1731, MA', 'Single'),
 (10211, 'Dunne, Amy', 'F', '09/23/73', '1749, MA', 'Married'),
 (10064, 'Eaton, Marianne', 'F', '9/5/1991', '2343, MA', 'Married'),
 (10247, 'Engdahl, Jean', 'M ', '05/31/74', '2026, MA', 'Single'),
 (10235, 'England, Rex', 'M ', '08/25/78', '2045, MA', 'Married'),
 (10299, 'Erilus, Angela', 'F', '08/25/89', '2133, MA', 'Separated'),
 (10280, 'Estremera, Miguel', 'M ', '9/2/1983', '2129, MA', 'Single'),
 (10296, 'Evensen, April', 'F', '5/6/1989', '2458, MA', 'Single'),
 (10290, 'Exantus, Susan', 'F', '05/15/87', '1749, MA', 'Married'),
 (10263, 'Faller, Megan', 'F', '09/22/78', '1824, MA', 'Married'),
 (10136, 'Fancett, Nicole', 'F', '09/27/87', '2324, MA', 'Single'),
 (10189, 'Ferguson, Susan', 'F', '04/14/55', '2176, MA', 'Married'),
 (10308, 'Fernandes, Nilson', 'M ', '10/18/89', '2132, MA', 'Married'),
 (10309, 'Fett, Boba', 'M ', '06/18/87', '2138, MA', 'Single'),
 (10049, 'Fidelia, Libby', 'F', '03/16/81', '2155, MA', 'Married'),
 (10093, 'Fitzpatrick, Michael', 'M ', '10/1/1981', '2143, MA', 'Single'),
 (10163, 'Foreman, Tanya', 'F', '11/8/1983', '2170, MA', 'Married'),
 (10305, 'Forrest, Alex', 'M ', '7/7/1975', '2330, MA', 'Married'),
 (10015, 'Foss, Jason', 'M ', '7/5/1980', '1460, MA', 'Single'),
 (10080, 'Foster-Baker, Amy', 'F', '04/16/79', '2050, MA', 'Married'),
 (10258, 'Fraval, Maruk', 'M ', '08/28/63', '6050, CT', 'Single'),
 (10273, 'Galia, Lisa', 'F', '7/6/1968', '6040, CT', 'Single'),
 (10111, 'Garcia, Raul', 'M ', '09/15/85', '1905, MA', 'Single'),
 (10257, 'Gaul, Barbara', 'F', '12/2/1983', '2121, MA', 'Single'),
 (10159, 'Gentry, Mildred', 'F', '10/1/1990', '2145, MA', 'Married'),
 (10122, 'Gerke, Melisa', 'F', '05/15/70', '2330, MA', 'Divorced'),
 (10142, 'Gill, Whitney', 'F', '7/10/1971', '43050, OH', 'Widowed'),
 (10283, 'Gilles, Alex', 'M ', '8/9/1974', '2062, MA', 'Married'),
 (10018, 'Girifalco, Evelyn', 'F', '5/8/1980', '2451, MA', 'Single'),
 (10255, 'Givens, Myriam', 'F', '09/22/89', '46204, IN', 'Single'),
 (10246, 'Goble, Taisha', 'F', '10/23/71', '2127, MA', 'Single'),
 (10228, 'Goeth, Amon', 'M ', '11/24/89', '2135, MA', 'Married'),
 (10243, 'Gold, Shenice', 'F', '06/18/92', '2451, MA', 'Single'),
 (10031, 'Gonzalez, Cayo', 'M ', '09/29/69', '2108, MA', 'Divorced'),
 (10300, 'Gonzalez, Juan', 'M ', '10/12/1964', '2128, MA', 'Married'),
 (10101, 'Gonzalez, Maria', 'F', '04/16/81', '2472, MA', 'Separated'),
 (10237, 'Good, Susan', 'F', '05/25/86', '1886, MA', 'Married'),
 (10051, 'Gordon, David', 'M ', '05/21/79', '2169, MA', 'Married'),
 (10218, 'Gosciminski, Phylicia', 'F', '12/8/1983', '1824, MA', 'Separated'),
 (10256, 'Goyal, Roxana', 'F', '10/9/1974', '1864, MA', 'Married'),
 (10098, 'Gray, Elijiah', 'M ', '7/11/1981', '1752, MA', 'Divorced'),
 (10059, 'Gross, Paula', 'F', '05/21/83', '2176, MA', 'Divorced'),
 (10234, 'Gruber, Hans', 'M ', '06/30/89', '2134, MA', 'Married'),
 (10109, 'Guilianno, Mike', 'M ', '2/9/1969', '37129, TN', 'Single'),
 (10125, 'Handschiegl, Joanne', 'F', '03/23/77', '2127, MA', 'Married'),
 (10074, 'Hankard, Earnest', 'M ', '8/10/1988', '2155, MA', 'Single'),
 (10097, 'Harrington, Christie', 'F', '08/18/52', '2324, MA', 'Single'),
 (10007, 'Harrison, Kara', 'F', '5/2/1974', '1886, MA', 'Married'),
 (10129, 'Heitzman, Anthony', 'M ', '1/4/1984', '2149, MA', 'Single'),
 (10075, 'Hendrickson, Trina', 'F', '08/27/72', '2021, MA', 'Single'),
 (10167, 'Hitchcock, Alfred', 'M ', '09/14/88', '3062, NH', 'Married'),
 (10195, 'Homberger, Adrienne', 'F', '02/16/84', '2445, MA', 'Married'),
 (10112, 'Horton, Jayne', 'F', '02/21/84', '2493, MA', 'Single'),
 (10272, 'Houlihan, Debra', 'F', '03/17/66', '2908, RI', 'Married'),
 (10182, 'Howard, Estelle', 'F', '09/16/85', '2170, MA', 'Married'),
 (10248, 'Hudson, Jane', 'F', '6/10/1986', '2176, MA', 'Single'),
 (10201, 'Hunts, Julissa', 'F', '3/11/1984', '2021, MA', 'Single'),
 (10214, 'Hutter, Rosalie', 'F', '5/7/1992', '2351, MA', 'Separated'),
 (10160, 'Huynh, Ming', 'F', '09/22/76', '1742, MA', 'Divorced'),
 (10289, 'Immediato, Walter', 'M ', '11/15/76', '2128, MA', 'Married'),
 (10139, 'Ivey, Rose', 'F', '01/28/91', '1775, MA', 'Single'),
 (10227, 'Jackson, Maryellen', 'F', '9/11/1972', '2081, MA', 'Single'),
 (10236, 'Jacobi, Hannah', 'F', '03/22/66', '1778, MA', 'Divorced'),
 (10009, 'Jeannite, Tayana', 'F', '11/6/1986', '1821, MA', 'Divorced'),
 (10060, 'Jhaveri, Sneha', 'F', '04/13/64', '2109, MA', 'Separated'),
 (10034, 'Johnson, George', 'M ', '08/19/59', '2445, MA', 'Married'),
 (10156, 'Johnson, Noelle', 'F', '11/7/1986', '2301, MA', 'Married'),
 (10036, 'Johnston, Yen', 'F', '9/8/1969', '2128, MA', 'Single'),
 (10138, 'Jung, Judy', 'F', '04/17/86', '2446, MA', 'Married'),
 (10244, 'Kampew, Donysha', 'F', '11/11/1989', '19444, PA', 'Single'),
 (10192, 'Keatts, Kramer', 'M ', '01/19/76', '1887, MA', 'Single'),
 (10231, 'Khemmich, Bartholemew', 'M ', '11/27/79', '80820, CO', 'Single'),
 (10089, 'King, Janet', 'F', '09/21/54', '1902, MA', 'Married'),
 (10166, 'Kinsella, Kathleen', 'F', '12/8/1973', '2170, MA', 'Married'),
 (10170, 'Kirill, Alexandra', 'F', '10/8/1970', '2127, MA', 'Married'),
 (10208, 'Knapp, Bradley', 'M ', '11/10/1977', '1721, MA', 'Single'),
 (10176, 'Kretschmer, John', 'M ', '2/2/1980', '1801, MA', 'Married'),
 (10165, 'Kreuger, Freddy', 'M ', '02/24/69', '10171, NY', 'Single'),
 (10113, 'Lajiri, Jyoti', 'M ', '04/23/86', '2169, MA', 'Married'),
 (10092, 'Landa, Hans', 'M ', '7/1/1972', '1890, MA', 'Married'),
 (10106, 'Langford, Lindsey', 'F', '07/25/79', '2090, MA', 'Divorced'),
 (10052, 'Langton, Enrico', 'M ', '12/9/1986', '2048, MA', 'Married'),
 (10038, 'LaRotonda, William', 'M ', '04/26/84', '1460, MA', 'Divorced'),
 (10249, 'Latif, Mohammed', 'M ', '5/9/1984', '2126, MA', 'Married'),
 (10232, 'Le, Binh', 'F', '06/14/87', '1886, MA', 'Single'),
 (10087, 'Leach, Dallas', 'F', '01/17/79', '1810, MA', 'Single'),
 (10134, 'LeBlanc, Brandon', 'M ', '6/10/1984', '1460, MA', 'Married'),
 (10251, 'Lecter, Hannibal', 'M ', '9/2/1982', '1776, MA', 'Married'),
 (10103, 'Leruth, Giovanni', 'M ', '12/27/88', '84111, UT', 'Separated'),
 (10017, 'Liebig, Ketsia', 'F', '10/26/81', '2110, MA', 'Married'),
 (10186, 'Linares, Marilyn', 'F', '03/26/81', '1886, MA', 'Married'),
 (10137, 'Linden, Mathew', 'M ', '03/19/79', '1770, MA', 'Married'),
 (10008, 'Lindsay, Leonara', 'F', '10/5/1988', '6070, CT', 'Single'),
 (10096, 'Lundy, Susan', 'F', '12/26/76', '2122, MA', 'Widowed'),
 (10035, 'Lunquist, Lisa', 'F', '03/28/82', '2324, MA', 'Single'),
 (10057, 'Lydon, Allison', 'F', '10/22/75', '2122, MA', 'Married'),
 (10004, 'Lynch, Lindsay', 'F', '02/14/73', '1844, MA', 'Single'),
 (10191, 'MacLennan, Samuel', 'M ', '11/9/1972', '1938, MA', 'Widowed'),
 (10219, 'Mahoney, Lauren', 'F', '7/7/1986', '2189, MA', 'Single'),
 (10077, 'Manchester, Robyn', 'F', '08/25/76', '2324, MA', 'Married'),
 (10073, 'Mancuso, Karen', 'F', '12/10/1986', '2176, MA', 'Married'),
 (10279, 'Mangal, Debbie', 'F', '11/7/1974', '2451, MA', 'Married'),
 (10110, 'Martin, Sandra', 'F', '11/7/1987', '2135, MA', 'Single'),
 (10053, 'Maurice, Shana', 'F', '11/22/77', '2330, MA', 'Married'),
 (10076, "Carthy, B'rigit", 'F', '05/21/87', '2149, MA', 'Single'),
 (10145, 'Mckenna, Sandy', 'F', '1/7/1987', '2184, MA', 'Married'),
 (10202, 'McKinzie, Jac', 'M ', '7/1/1984', '78789, TX', 'Married'),
 (10128, 'Meads, Elizabeth', 'F', '05/30/68', '1760, MA', 'Single'),
 (10068, 'Medeiros, Jennifer', 'F', '09/22/76', '2346, MA', 'Single'),
 (10116, 'Miller, Brannon', 'M ', '8/10/1981', '2045, MA', 'Single'),
 (10298, 'Miller, Ned', 'M ', '06/29/85', '2472, MA', 'Single'),
 (10213, 'Monkfish, Erasumus', 'M ', '08/17/92', '1450, MA', 'Married'),
 (10288, 'Monroe, Peter', 'M ', '10/5/1986', '2134, MA', 'Married'),
 (10025, 'Monterro, Luisa', 'F', '04/24/70', '2126, MA', 'Single'),
 (10223, 'Moran, Patrick', 'M ', '12/3/1976', '2127, MA', 'Single'),
 (10151, 'Morway, Tanya', 'F', '4/4/1979', '2048, MA', 'Married'),
 (10254, 'Motlagh, Dawn', 'F', '7/7/1984', '2453, MA', 'Divorced'),
 (10120, 'Moumanil, Maliki', 'M ', '12/1/1974', '1460, MA', 'Separated'),
 (10216, 'Myers, Michael', 'M ', '04/18/80', '1550, MA', 'Single'),
 (10079, 'Navathe, Kurt', 'M ', '04/25/70', '2056, MA', 'Single'),
 (10215, 'Ndzi, Colombui', 'M ', '5/2/1989', '2110, MA', 'Single'),
 (10185, 'Ndzi, Horia', 'M ', '03/28/83', '2421, MA', 'Married'),
 (10063, 'Newman, Richard', 'M ', '4/8/1977', '2136, MA', 'Married'),
 (10037, 'Ngodup, Shari', 'F', '6/3/1967', '1810, MA', 'Separated'),
 (10042, 'Nguyen, Dheepa', 'F', '03/31/89', '30428, GA', 'Single'),
 (10206, 'Nguyen, Lei-Ming', 'F', '7/7/1984', '2132, MA', 'Single'),
 (10104, 'Nowlan, Kristie', 'F', '11/23/85', '1040, MA', 'Single'),
 (10303, "O'hare, Lynn", 'F', '09/30/80', '2152, MA', 'Single'),
 (10078, 'Oliver, Brooke', 'F', '2/11/1952', '2492, MA', 'Married'),
 (10121, 'Onque, Jasmine', 'F', '5/11/1990', '33174, FL', 'Single'),
 (10021, 'Osturnka, Adeel', 'M ', '12/11/1976', '2478, MA', 'Married'),
 (10281, 'Owad, Clinton', 'M ', '11/24/79', '1760, MA', 'Single'),
 (10041, 'Ozark, Travis', 'M ', '05/19/82', '27229, NC', 'Single'),
 (10148, 'Panjwani, Nina', 'F', '5/1/1979', '2351, MA', 'Married'),
 (10005, 'Patronick, Lucas', 'M ', '02/20/79', '1844, MA', 'Single'),
 (10259, 'Pearson, Randall', 'M ', '9/5/1984', '2747, MA', 'Married'),
 (10286, 'Smith, Martin', 'M ', '03/17/88', '2458, MA', 'Single'),
 (10297, 'Pelletier, Ermine', 'F', '07/18/89', '2472, MA', 'Married'),
 (10171, 'Perry, Shakira', 'F', '07/20/86', '2176, MA', 'Single'),
 (10032, 'Peters, Lauren', 'F', '08/17/86', '1886, MA', 'Married'),
 (10130, 'Peterson, Ebonee', 'F', '5/9/1977', '2030, MA', 'Married'),
 (10217, 'Petingill, Shana', 'F', '3/10/1979', '2050, MA', 'Married'),
 (10016, 'Petrowsky, Thelma', 'F', '09/16/84', '1886, MA', 'Married'),
 (10050, 'Pham, Hong', 'M ', '3/6/1988', '2451, MA', 'Married'),
 (10164, 'Pitt, Brad', 'M ', '11/23/81', '2451, MA', 'Single'),
 (10124, 'Potts, Xana', 'F', '08/29/88', '40220, KY', 'Married'),
 (10187, 'Power, Morissa', 'F', '10/15/84', '1742, MA', 'Divorced'),
 (10225, 'Punjabhi, Louis', 'M ', '06/19/61', '2109, MA', 'Single'),
 (10262, 'Purinton, Janine', 'F', '09/22/70', '2474, MA', 'Divorced'),
 (10131, 'Quinn, Sean', 'M ', '11/6/1984', '2045, MA', 'Married'),
 (10239, 'Rachael, Maggie', 'F', '5/12/1980', '2110, MA', 'Married'),
 (10152, 'Rarrick, Quinn', 'M ', '12/31/84', '2478, MA', 'Divorced'),
 (10140, 'Ren, Kylo', 'M ', '10/12/1954', '83706, ID', 'Married'),
 (10058, 'Rhoads, Thomas', 'M ', '07/22/82', '2176, MA', 'Divorced'),
 (10011, 'Rivera, Haley', 'F', '1/12/1973', '2171, MA', 'Married'),
 (10230, 'Roberson, May', 'F', '9/5/1981', '1902, MA', 'Divorced'),
 (10224, 'Robertson, Peter', 'M ', '7/3/1972', '2138, MA', 'Married'),
 (10047, 'Robinson, Alain', 'M ', '1/7/1974', '1420, MA', 'Married'),
 (10285, 'Robinson, Cherly', 'F', '1/7/1985', '1460, MA', 'Married'),
 (10020, 'Robinson, Elias', 'M ', '01/28/85', '1730, MA', 'Widowed'),
 (10162, 'Roby, Lori', 'F', '10/11/1981', '1886, MA', 'Married'),
 (10149, 'Roehrich, Bianca', 'F', '05/27/73', '2703, MA', 'Single'),
 (10086, 'Roper, Katie', 'F', '11/21/72', '2056, MA', 'Single'),
 (10054, 'Rose, Ashley', 'F', '12/5/1974', '1886, MA', 'Separated'),
 (10065, 'Rossetti, Bruno', 'M ', '03/18/87', '2155, MA', 'Single'),
 (10198, 'Roup, Simon', 'M ', '4/5/1973', '2481, MA', 'Single'),
 (10222, 'Ruiz, Ricardo', 'M ', '1/4/1964', '1915, MA', 'Divorced'),
 (10126, 'Saada, Adell', 'F', '07/24/86', '2132, MA', 'Married'),
 (10295, 'Saar-Beckles, Melinda', 'F', '6/6/1968', '1801, MA', 'Single'),
 (10260, 'Sadki, Nore', 'M ', '12/21/74', '2148, MA', 'Single'),
 (10233, 'Sahoo, Adil', 'M ', '04/26/86', '2062, MA', 'Married'),
 (10229, 'Salter, Jason', 'M ', '12/17/87', '2452, MA', 'Divorced'),
 (10169, 'Sander, Kamrin', 'F', '7/10/1988', '2154, MA', 'Married'),
 (10071, 'Sewkumar, Nori', 'F', '3/10/1975', '2191, MA', 'Single'),
 (10179, 'Shepard, Anita', 'F', '04/14/81', '1773, MA', 'Married'),
 (10091, 'Shields, Seffi', 'F', '08/24/85', '2149, MA', 'Married'),
 (10178, 'Simard, Kramer', 'M ', '2/8/1970', '2110, MA', 'Married'),
 (10039, 'Singh, Nan', 'F', '05/19/88', '2330, MA', 'Single'),
 (10095, 'Sloan, Constance', 'F', '11/25/87', '1851, MA', 'Single'),
 (10027, 'Smith, Joe', 'M ', '10/30/63', '2045, MA', 'Single'),
 (10291, 'Smith, John', 'M ', '08/16/84', '1886, MA', 'Divorced'),
 (10153, 'Smith, Leigh', 'F', '06/14/87', '1844, MA', 'Married'),
 (10157, 'Smith, Sade', 'F', '2/2/1965', '2130, MA', 'Single'),
 (10119, 'Soto, Julia', 'F', '3/12/1973', '2360, MA', 'Married'),
 (10180, 'Soze, Keyser', 'M ', '2/9/1983', '1545, MA', 'Married'),
 (10302, 'Sparks, Taylor', 'F', '07/20/68', '2093, MA', 'Married'),
 (10090, 'Spirea, Kelley', 'F', '09/30/75', '2451, MA', 'Married'),
 (10030, 'Squatrito, Kristen', 'F', '03/26/73', '2359, MA', 'Divorced'),
 (10278, 'Stanford, Barbara', 'F', '08/25/82', '2050, MA', 'Divorced'),
 (10307, 'Stansfield, Norman', 'M ', '5/9/1974', '89139, NV', 'Married'),
 (10147, 'Steans, Tyrone', 'M ', '9/1/1986', '2703, MA', 'Single'),
 (10266, 'Stoica, Rick', 'M ', '03/14/85', '2301, MA', 'Married'),
 (10241, 'Strong, Caitrin', 'F', '5/12/1989', '59102, MT', 'Married'),
 (10158, 'Sullivan, Kissy', 'F', '03/28/78', '1776, MA', 'Married'),
 (10117, 'Sullivan, Timothy', 'M ', '10/7/1982', '2747, MA', 'Married'),
 (10209, 'Sutwell, Barbara', 'F', '08/15/68', '2718, MA', 'Single'),
 (10024, 'Szabo, Andrew', 'M ', '5/6/1983', '2140, MA', 'Single'),
 (10173, 'Tannen, Biff', 'M ', '10/24/87', '2134, MA', 'Married'),
 (10221, 'Tavares, Desiree', 'F', '4/3/1975', '1801, MA', 'Married'),
 (10146, 'Tejeda, Lenora', 'F', '05/24/53', '2129, MA', 'Married'),
 (10161, 'Terry, Sharlene', 'F', '5/7/1965', '97756, OR', 'Single'),
 (10141, 'Theamstern, Sophia', 'F', '5/9/1965', '2066, MA', 'Single'),
 (10268, 'Thibaud, Kenneth', 'M ', '09/16/75', '2472, MA', 'Widowed'),
 (10123, 'Tippett, Jeanette', 'F', '6/5/1967', '2093, MA', 'Divorced'),
 (10013, 'Torrence, Jack', 'M ', '01/15/68', '58782, ND', 'Separated'),
 (10287, 'Trang, Mei', 'F', '05/16/83', '2021, MA', 'Single'),
 (10044, 'Tredinnick, Neville', 'M ', '5/5/1988', '1420, MA', 'Married'),
 (10102, 'TRUE, Edward', 'M ', '06/14/83', '2451, MA', 'Single'),
 (10270, 'Trzeciak, Cybil', 'F', '03/15/85', '1778, MA', 'Single'),
 (10045, 'Turpin, Jumil', 'M ', '03/31/69', '2343, MA', 'Married'),
 (10205, 'Valentin, Jackie', 'F', '05/23/91', '85006, AZ', 'Married'),
 (10014, 'Veera, Abdellah', 'M ', '01/31/87', '2171, MA', 'Divorced'),
 (10144, 'Vega, Vincent', 'M ', '10/10/1968', '2169, MA', 'Divorced'),

#### Retrieving Employee's Department.

In [55]:
%%sql
SELECT
       printf("%s", h.empid) as ID,
       printf("%s, %s", h.First_Name, h.Last_Name) AS Name,
       printf("%s", p.position) as Position,
       printf("%s", d.Department) as Department,
       printf("%s", manager.ManagerName) as [Manager Name],
       printf("%s", i.DateofHire) as [Date of Hiring],
       printf("%s", hired.RecruitmentSource) as [Recruitment Source],
       printf("%s", i.EmploymentStatus) as [Employement Status],
       printf("%s", terminated.DateofTermination) as [Date of Termination],
       printf("%s", terminated.TermReason) as [Termination Reason]
FROM HR as h
JOIN info as i
ON h.empid = i.empid
JOIN post as p
ON p.positionid = i.positionid
JOIN dept as d
ON d.deptid = i.deptid
JOIN manager as manager
ON i.managerid = manager.managerid
JOIN hired as hired
ON h.empid = hired.empid
JOIN terminated as terminated
ON h.empid = terminated.empid

 * sqlite:///HRData.db
Done.

[('10026', 'Adinolfi, Wilson', 'Accountant I', 'Production       ', 'Michael Albert', '7/5/2011', 'LinkedIn', 'Active', '', 'N/A-StillEmployed'),
 ('10084', 'Ait, Sidi', 'Administrative Assistant', 'IT/IS', 'Simon Roup', '3/30/2015', 'Indeed', 'Voluntarily Terminated', '6/16/2016', 'career change'),
 ('10196', 'Akinkuolie, Sarah', 'Area Sales Manager', 'Production       ', 'Kissy Sullivan', '7/5/2011', 'LinkedIn', 'Voluntarily Terminated', '9/24/2012', 'hours'),
 ('10088', 'Alagbe, Trina', 'BI Developer', 'Production       ', 'Elijiah Gray', '1/7/2008', 'Indeed', 'Active', '', 'N/A-StillEmployed'),
 ('10069', 'Anderson, Carol', 'BI Director', 'Production       ', 'Webster Butler', '7/11/2011', 'Google Search', 'Voluntarily Terminated', '9/6/2016', 'return to school'),
 ('10002', 'Anderson, Linda', 'CIO', 'Production       ', 'Amy Dunn', '1/9/2012', 'LinkedIn', 'Active', '', 'N/A-StillEmployed'),
 ('10194', 'Andreola, Colby', 'Data Architect', 'Software Engineering', 'Alex Sweetwater', '11/10/2014', 'LinkedIn', 'Active', '', 'N/A-StillEmployed'),
 ('10062', 'Athwal, Sam', 'Database Administrator', 'Production       ', 'Ketsia Liebig', '9/30/2013', 'Employee Referral', 'Active', '', 'N/A-StillEmployed'),
 ('10114', 'Bachiochi, Linda', 'Data Analyst', 'Production       ', 'Brannon Miller', '7/6/2009', 'Diversity Job Fair', 'Active', '', 'N/A-StillEmployed'),
 ('10250', 'Bacong, Alejandro', 'Director of Operations', 'IT/IS', 'Peter Monroe', '1/5/2015', 'Indeed', 'Active', '', 'N/A-StillEmployed'),
 ('10252', 'Baczenski, Rachael', 'Director of Sales', 'Production       ', 'David Stanley', '1/10/2011', 'Diversity Job Fair', 'Voluntarily Terminated', '1/12/2017', 'Another position'),
 ('10242', 'Barbara, Thomas', 'IT Director', 'Production       ', 'Kissy Sullivan', '4/2/2012', 'Diversity Job Fair', 'Voluntarily Terminated', '9/19/2016', 'unhappy'),
 ('10012', 'Barbossa, Hector', 'IT Manager - Support', 'IT/IS', 'Simon Roup', '11/10/2014', 'Diversity Job Fair', 'Active', '', 'N/A-StillEmployed'),
 ('10265', 'Barone, Francesco', 'IT Support', 'Production       ', 'Kelley Spirea', '2/20/2012', 'Google Search', 'Active', '', 'N/A-StillEmployed'),
 ('10066', 'Barton, Nader', 'Network Engineer', 'Production       ', 'Michael Albert', '9/24/2012', 'On-line Web application', 'Voluntarily Terminated', '4/6/2017', 'Another position'),
 ('10061', 'Bates, Norman', 'President & CEO', 'Production       ', 'Kelley Spirea', '2/21/2011', 'Google Search', 'Terminated for Cause', '8/4/2017', 'attendance'),
 ('10023', 'Beak, Kimberly', 'Production Manager', 'Production       ', 'Kelley Spirea', '7/21/2016', 'Employee Referral', 'Active', '', 'N/A-StillEmployed'),
 ('10055', 'Beatrice, Courtney', 'Production Manager', 'Production       ', 'Elijiah Gray', '4/4/2011', 'Google Search', 'Active', '', 'N/A-StillEmployed'),
 ('10245', 'Becker, Renee', 'Production Technician I', 'IT/IS', 'Simon Roup', '7/7/2014', 'Google Search', 'Terminated for Cause', '9/12/2015', 'performance'),
 ('10046', 'Bernstein, Sean', 'Sales Manager', 'Production       ', 'Amy Dunn', '4/2/2012', 'Google Search', 'Active', '', 'N/A-StillEmployed'),
 ('10226', 'Biden, Lowan', 'Senior BI Developer', 'Production       ', 'Ketsia Liebig', '8/19/2013', 'Indeed', 'Active', '', 'N/A-StillEmployed'),
 ('10003', 'Billis, Helen', 'Shared Services Manager', 'Production       ', 'Brannon Miller', '7/7/2014', 'Indeed', 'Active', '', 'N/A-StillEmployed'),
 ('10294', 'Blount, Dianna', 'Software Engineer', 'Production       ', 'Michael Albert', '4/4/2011', 'CareerBuilder', 'Active', '', 'N/A-StillEmployed'),
 ('10267', 'Bondwell, Betsy', 'Software Engineering Manager', 'Production       ', 'Elijiah Gray', '1/10/2011', 'Google Search', 'Voluntarily Terminated', '4/4/2014', 'career change'),
 ('10199', 'Booth, Frank', 'Sr. Accountant', 'IT/IS', 'Simon Roup', '2/17/2014', 'LinkedIn', 'Terminated for Cause', '2/19/2016', 'Learned that he is a gangster'),
 ('10081', 'Boutwell, Bonalyn', 'Sr. DBA', 'Admin Offices', 'Brandon R. LeBlanc', '2/16/2015', 'Diversity Job Fair', 'Active', '', 'N/A-StillEmployed'),
 ('10175', 'Bozzi, Charles', 'Sr. Network Engineer', 'Production       ', 'Janet King', '9/30/2013', 'Indeed', 'Voluntarily Terminated', '8/7/2014', 'retiring'),
 ('10177', 'Brill, Donna', 'Principal Data Architect', 'Production       ', 'David Stanley', '4/2/2012', 'Google Search', 'Voluntarily Terminated', '6/15/2013', 'Another position'),
 ('10238', 'Brown, Mia', 'Enterprise Architect', 'Admin Offices', 'Brandon R. LeBlanc', '10/27/2008', 'Diversity Job Fair', 'Active', '', 'N/A-StillEmployed')]

#### Number of Males and Females in the Company.

In [56]:
%%sql
SELECT sex, count(*) as Total FROM HR
GROUP BY sex;

 * sqlite:///HRData.db
Done.

[('F', 176), ('M ', 135)]

#### Number of Males and Females in a Department.

##### Females

In [107]:
%%sql
SELECT count(sex) as Gender
FROM HR as h
JOIN info as i
ON h.empid = i.empid
WHERE sex = "F"

 * sqlite:///HRData.db
Done.

[(176,)]

In [126]:
%%sql
SELECT department, count(*) as [Number of Females]
FROM info as i
JOIN
(SELECT empid, sex as Gender
 FROM HR
 WHERE sex = "F"
) as subquery
ON i.empid = subquery.empid
JOIN dept as d
ON i.deptid = d.deptid
GROUP BY department
ORDER BY [Number of Females];

 * sqlite:///HRData.db
Done.

[('Executive Office', 1),
 ('Admin Offices', 6),
 ('Software Engineering', 6),
 ('Sales', 15),
 ('IT/IS', 22),
 ('Production       ', 126)]

##### Males

In [130]:
%%sql 
SELECT sex, count(*)
FROM HR
WHERE sex LIKE "%M%";

 * sqlite:///HRData.db
Done.

[('M ', 135)]

In [129]:
%%sql
SELECT department, count(*) as [Number of Males]
FROM info as i
JOIN (
SELECT empid, sex as Gender
FROM HR
WHERE sex LIKE "%M%") subquery
ON i.empid = subquery.empid
JOIN dept as d
ON d.deptid = i.deptid
GROUP BY department
ORDER BY [Number of Males];

 * sqlite:///HRData.db
Done.

[('Admin Offices', 4),
 ('Software Engineering', 4),
 ('Sales', 17),
 ('IT/IS', 28),
 ('Production       ', 82)]

#### The Average Salary for Male and Female in Every Department

In [145]:
%%sql
SELECT department, round(avg(salary)) as [Female Average Salary]
FROM info as i
JOIN
(SELECT empid, sex as Gender
 FROM HR
 WHERE sex = "F"
) as subquery
ON i.empid = subquery.empid
JOIN dept as d
ON i.deptid = d.deptid
GROUP BY department
ORDER BY [Female Average Salary] DESC;

 * sqlite:///HRData.db
Done.

[('Executive Office', 250000.0),
 ('Software Engineering', 96906.0),
 ('IT/IS', 94593.0),
 ('Sales', 72017.0),
 ('Admin Offices', 70926.0),
 ('Production       ', 59620.0)]

In [146]:
%%sql
SELECT department, round(avg(salary)) as [Males Average Salary]
FROM info as i
JOIN (
SELECT empid, sex as Gender
FROM HR
WHERE sex LIKE "%M%") subquery
ON i.empid = subquery.empid
JOIN dept as d
ON d.deptid = i.deptid
GROUP BY department
ORDER BY [Males Average Salary] DESC;

 * sqlite:///HRData.db
Done.

[('IT/IS', 99007.0),
 ('Software Engineering', 95021.0),
 ('Admin Offices', 75983.0),
 ('Sales', 65744.0),
 ('Production       ', 60502.0)]

#### Which Gender has the Highest Average Salary in every Department?

In [147]:
%%sql
SELECT department, round(avg(salary)) as [Female Average Salary]
FROM info as i
JOIN
(SELECT empid, sex as Gender
 FROM HR
 WHERE sex = "F"
) as subquery
ON i.empid = subquery.empid
JOIN dept as d
ON i.deptid = d.deptid
GROUP BY department
ORDER BY [Female Average Salary] DESC
LIMIT 1;

 * sqlite:///HRData.db
Done.

[('Executive Office', 250000.0)]

In [148]:
%%sql
SELECT department, round(avg(salary)) as [Males Average Salary]
FROM info as i
JOIN (
SELECT empid, sex as Gender
FROM HR
WHERE sex LIKE "%M%") subquery
ON i.empid = subquery.empid
JOIN dept as d
ON d.deptid = i.deptid
GROUP BY department
ORDER BY [Males Average Salary] DESC
LIMIT 1;

 * sqlite:///HRData.db
Done.

[('IT/IS', 99007.0)]

#### Average Salary in a Department.

In [151]:
%%sql 
SELECT department, round(avg(salary)) as [Average Salary]
FROM info as i
JOIN dept as d
ON i.deptid = d.deptid
GROUP BY department
ORDER BY [Average Salary] DESC;

 * sqlite:///HRData.db
Done.

[('Executive Office', 250000.0),
 ('IT/IS', 97065.0),
 ('Software Engineering', 96152.0),
 ('Admin Offices', 72949.0),
 ('Sales', 68684.0),
 ('Production       ', 59968.0)]

#### Highest and Lowest Paid Worker in the Company.

In [160]:
%%sql
SELECT department, i.empid, round(avg(salary)) as [Female Average Salary]
FROM info as i
JOIN
(SELECT empid, sex as Gender
 FROM HR
 WHERE sex = "F"
) as subquery
ON i.empid = subquery.empid
JOIN dept as d
ON i.deptid = d.deptid
GROUP BY department
ORDER BY [Female Average Salary] DESC
LIMIT 1;

 * sqlite:///HRData.db
Done.

[('Executive Office', 10089, 250000.0)]

In [173]:
%%sql
SELECT department, i.empid, round(avg(salary)) as [Males Average Salary]
FROM info as i
JOIN (
SELECT empid, sex as Gender
FROM HR
WHERE sex LIKE "%M%") subquery
ON i.empid = subquery.empid
JOIN dept as d
ON d.deptid = i.deptid
GROUP BY department
ORDER BY [Males Average Salary] DESC
LIMIT 1;

 * sqlite:///HRData.db
Done.

[('IT/IS', 10084, 99007.0)]

In [170]:
%%sql
SELECT h.empid,
       printf("%s, %s", First_Name, Last_Name) AS Name,
       MAX(i.salary) as [Salary]
FROM HR as h
JOIN info as i
ON h.empid = i.empid
WHERE h.empid = "10089"
UNION
SELECT h.empid,
       printf("%s, %s", First_Name, Last_Name) AS Name,
       MIN(i.salary) as [Salary]
FROM HR as h
JOIN info as i
ON h.empid = i.empid
WHERE h.empid = "10084";

 * sqlite:///HRData.db
Done.

[(10084, 'Ait, Sidi', 104437), (10089, 'King, Janet', 250000)]

#### How are the Employees get Hired?

In [175]:
%%sql
SELECT hired.empid,
       printf("%s, %s", h.First_Name, h.Last_Name) AS Name,
       recruitmentsource as [Recruitment Source],
       dateofhire as [Date of Hire]
FROM hired as hired
JOIN HR as h
ON hired.empid = h.empid

 * sqlite:///HRData.db
Done.

[(10026, 'Adinolfi, Wilson', 'LinkedIn', '7/5/2011'),
 (10084, 'Ait, Sidi', 'Indeed', '3/30/2015'),
 (10196, 'Akinkuolie, Sarah', 'LinkedIn', '7/5/2011'),
 (10088, 'Alagbe, Trina', 'Indeed', '1/7/2008'),
 (10069, 'Anderson, Carol', 'Google Search', '7/11/2011'),
 (10002, 'Anderson, Linda', 'LinkedIn', '1/9/2012'),
 (10194, 'Andreola, Colby', 'LinkedIn', '11/10/2014'),
 (10062, 'Athwal, Sam', 'Employee Referral', '9/30/2013'),
 (10114, 'Bachiochi, Linda', 'Diversity Job Fair', '7/6/2009'),
 (10250, 'Bacong, Alejandro', 'Indeed', '1/5/2015'),
 (10252, 'Baczenski, Rachael', 'Diversity Job Fair', '1/10/2011'),
 (10242, 'Barbara, Thomas', 'Diversity Job Fair', '4/2/2012'),
 (10012, 'Barbossa, Hector', 'Diversity Job Fair', '11/10/2014'),
 (10265, 'Barone, Francesco', 'Google Search', '2/20/2012'),
 (10066, 'Barton, Nader', 'On-line Web application', '9/24/2012'),
 (10061, 'Bates, Norman', 'Google Search', '2/21/2011'),
 (10023, 'Beak, Kimberly', 'Employee Referral', '7/21/2016'),
 (10055, 'Beatrice, Courtney', 'Google Search', '4/4/2011'),
 (10245, 'Becker, Renee', 'Google Search', '7/7/2014'),
 (10277, 'Becker, Scott', 'LinkedIn', '7/8/2013'),
 (10046, 'Bernstein, Sean', 'Google Search', '4/2/2012'),
 (10226, 'Biden, Lowan', 'Indeed', '8/19/2013'),
 (10003, 'Billis, Helen', 'Indeed', '7/7/2014'),
 (10294, 'Blount, Dianna', 'CareerBuilder', '4/4/2011'),
 (10267, 'Bondwell, Betsy', 'Google Search', '1/10/2011'),
 (10199, 'Booth, Frank', 'LinkedIn', '2/17/2014'),
 (10081, 'Boutwell, Bonalyn', 'Diversity Job Fair', '2/16/2015'),
 (10175, 'Bozzi, Charles', 'Indeed', '9/30/2013'),
 (10177, 'Brill, Donna', 'Google Search', '4/2/2012'),
 (10238, 'Brown, Mia', 'Diversity Job Fair', '10/27/2008'),
 (10184, 'Buccheri, Joseph', 'Google Search', '9/29/2014'),
 (10203, 'Bugali, Josephine', 'Diversity Job Fair', '11/11/2013'),
 (10188, 'Bunbury, Jessica', 'Google Search', '8/15/2011'),
 (10107, 'Burke, Joelle', 'Employee Referral', '3/5/2012'),
 (10181, 'Burkett, Benjamin', 'Indeed', '4/4/2011'),
 (10150, 'Cady, Max', 'Google Search', '8/15/2011'),
 (10001, 'Candie, Calvin', 'Indeed', '1/28/2016'),
 (10085, 'Carabbio, Judith', 'Indeed', '11/11/2013'),
 (10115, 'Carey, Michael', 'LinkedIn', '3/31/2014'),
 (10082, 'Carr, Claudia', 'LinkedIn', '6/30/2016'),
 (10040, 'Carter, Michelle', 'Indeed', '8/18/2014'),
 (10067, 'Chace, Beatrice', 'Google Search', '9/29/2014'),
 (10108, 'Champaigne, Brian', 'Indeed', '9/6/2016'),
 (10210, 'Chan, Lin', 'Indeed', '5/12/2014'),
 (10154, 'Chang, Donovan', 'LinkedIn', '7/8/2013'),
 (10200, 'Chigurh, Anton', 'Employee Referral', '5/14/2012'),
 (10240, 'Chivukula, Enola', 'Indeed', '6/27/2011'),
 (10168, 'Cierpiszewski, Caroline', 'Indeed', '10/3/2011'),
 (10220, 'Clayton, Rick', 'Indeed', '9/5/2012'),
 (10275, 'Cloninger, Jennifer', 'Google Search', '5/16/2011'),
 (10269, 'Close, Phil', 'Indeed', '8/30/2010'),
 (10029, 'Clukey, Elijian', 'Employee Referral', '7/6/2016'),
 (10261, 'Cockel, James', 'Employee Referral', '7/8/2013'),
 (10292, 'Cole, Spencer', 'LinkedIn', '7/11/2011'),
 (10282, 'Corleone, Michael', 'CareerBuilder', '7/20/2010'),
 (10019, 'Corleone, Vito', 'Indeed', '1/5/2009'),
 (10094, 'Cornett, Lisa', 'Indeed', '1/5/2015'),
 (10193, 'Costello, Frank', 'Indeed', '3/30/2015'),
 (10132, 'Crimmings, Jean', 'LinkedIn', '7/6/2016'),
 (10083, 'Cross, Noah', 'Employee Referral', '11/10/2014'),
 (10099, 'Daneault, Lynn', 'Indeed', '5/5/2014'),
 (10212, 'Daniele, Ann', 'LinkedIn', '11/10/2014'),
 (10056, "Darson, Jene'ya", 'Indeed', '7/2/2012'),
 (10143, 'Davis, Daniel', 'LinkedIn', '11/7/2011'),
 (10311, 'Dee, Randy', 'Indeed', '7/9/2018'),
 (10070, 'DeGweck, James', 'Indeed', '5/16/2011'),
 (10155, 'Del, Bosque', 'CareerBuilder', '1/9/2012'),
 (10306, 'Delarge, Alex', 'Indeed', '9/29/2014'),
 (10100, 'Demita, Carla', 'Google Search', '4/4/2011'),
 (10310, 'Desimone, Carl', 'Indeed', '7/7/2014'),
 (10197, 'DeVito, Tommy', 'Indeed', '2/15/2017'),
 (10276, 'Dickinson, Geoff', 'Indeed', '5/12/2014'),
 (10304, 'Dietrich, Jenna', 'Website', '2/20/2012'),
 (10284, 'DiNocco, Lily', 'Indeed', '1/7/2013'),
 (10207, 'Dobrin, Denisa', 'CareerBuilder', '4/2/2012'),
 (10133, 'Dolan, Linda', 'Employee Referral', '1/5/2015'),
 (10028, 'Dougall, Eric', 'Indeed', '1/5/2014'),
 (10006, 'Driver, Elle', 'Indeed', '1/10/2011'),
 (10105, 'Dunn, Amy', 'Google Search', '9/18/2014'),
 (10211, 'Dunne, Amy', 'Google Search', '4/26/2010'),
 (10064, 'Eaton, Marianne', 'Google Search', '4/4/2011'),
 (10247, 'Engdahl, Jean', 'LinkedIn', '11/10/2014'),
 (10235, 'England, Rex', 'Employee Referral', '3/31/2014'),
 (10299, 'Erilus, Angela', 'Indeed', '7/7/2014'),
 (10280, 'Estremera, Miguel', 'Google Search', '4/2/2012'),
 (10296, 'Evensen, April', 'Google Search', '2/17/2014'),
 (10290, 'Exantus, Susan', 'Indeed', '5/2/2011'),
 (10263, 'Faller, Megan', 'LinkedIn', '7/7/2014'),
 (10136, 'Fancett, Nicole', 'LinkedIn', '2/17/2014'),
 (10189, 'Ferguson, Susan', 'Google Search', '11/7/2011'),
 (10308, 'Fernandes, Nilson', 'Indeed', '5/11/2015'),
 (10309, 'Fett, Boba', 'LinkedIn', '3/30/2015'),
 (10049, 'Fidelia, Libby', 'Google Search', '1/9/2012'),
 (10093, 'Fitzpatrick, Michael', 'Google Search', '5/16/2011'),
 (10163, 'Foreman, Tanya', 'Google Search', '4/4/2011'),
 (10305, 'Forrest, Alex', 'Employee Referral', '9/29/2014'),
 (10015, 'Foss, Jason', 'Indeed', '4/15/2011'),
 (10080, 'Foster-Baker, Amy', 'Other', '1/5/2009'),
 (10258, 'Fraval, Maruk', 'CareerBuilder', '9/6/2011'),
 (10273, 'Galia, Lisa', 'LinkedIn', '5/1/2010'),
 (10111, 'Garcia, Raul', 'Employee Referral', '3/30/2015'),
 (10257, 'Gaul, Barbara', 'LinkedIn', '5/16/2011'),
 (10159, 'Gentry, Mildred', 'LinkedIn', '3/30/2015'),
 (10122, 'Gerke, Melisa', 'Diversity Job Fair', '11/7/2011'),
 (10142, 'Gill, Whitney', 'CareerBuilder', '7/7/2014'),
 (10283, 'Gilles, Alex', 'Diversity Job Fair', '4/2/2012'),
 (10018, 'Girifalco, Evelyn', 'Indeed', '9/29/2014'),
 (10255, 'Givens, Myriam', 'Indeed', '2/16/2015'),
 (10246, 'Goble, Taisha', 'Indeed', '2/16/2015'),
 (10228, 'Goeth, Amon', 'LinkedIn', '3/30/2015'),
 (10243, 'Gold, Shenice', 'Indeed', '11/11/2013'),
 (10031, 'Gonzalez, Cayo', 'Diversity Job Fair', '7/11/2011'),
 (10300, 'Gonzalez, Juan', 'Diversity Job Fair', '4/26/2010'),
 (10101, 'Gonzalez, Maria', 'Employee Referral', '1/5/2015'),
 (10237, 'Good, Susan', 'LinkedIn', '5/12/2014'),
 (10051, 'Gordon, David', 'LinkedIn', '7/2/2012'),
 (10218, 'Gosciminski, Phylicia', 'Google Search', '9/30/2013'),
 (10256, 'Goyal, Roxana', 'LinkedIn', '8/19/2013'),
 (10098, 'Gray, Elijiah', 'Employee Referral', '6/2/2015'),
 (10059, 'Gross, Paula', 'CareerBuilder', '2/21/2011'),
 (10234, 'Gruber, Hans', 'Indeed', '4/20/2017'),
 (10109, 'Guilianno, Mike', 'LinkedIn', '3/7/2012'),
 (10125, 'Handschiegl, Joanne', 'Google Search', '11/28/2011'),
 (10074, 'Hankard, Earnest', 'LinkedIn', '11/11/2013'),
 (10097, 'Harrington, Christie', 'CareerBuilder', '1/9/2012'),
 (10007, 'Harrison, Kara', 'CareerBuilder', '5/12/2014'),
 (10129, 'Heitzman, Anthony', 'Google Search', '8/13/2012'),
 (10075, 'Hendrickson, Trina', 'CareerBuilder', '1/10/2011'),
 (10167, 'Hitchcock, Alfred', 'Indeed', '8/18/2014'),
 (10195, 'Homberger, Adrienne', 'Indeed', '8/15/2011'),
 (10112, 'Horton, Jayne', 'Indeed', '3/30/2015'),
 (10272, 'Houlihan, Debra', 'LinkedIn', '5/5/2014'),
 (10182, 'Howard, Estelle', 'Indeed', '2/16/2015'),
 (10248, 'Hudson, Jane', 'LinkedIn', '2/20/2012'),
 (10201, 'Hunts, Julissa', 'LinkedIn', '6/6/2016'),
 (10214, 'Hutter, Rosalie', 'Indeed', '6/5/2015'),
 (10160, 'Huynh, Ming', 'Google Search', '2/21/2011'),
 (10289, 'Immediato, Walter', 'Indeed', '2/21/2011'),
 (10139, 'Ivey, Rose', 'Indeed', '8/19/2013'),
 (10227, 'Jackson, Maryellen', 'LinkedIn', '11/5/2012'),
 (10236, 'Jacobi, Hannah', 'Employee Referral', '9/30/2013'),
 (10009, 'Jeannite, Tayana', 'LinkedIn', '7/5/2011'),
 (10060, 'Jhaveri, Sneha', 'LinkedIn', '1/6/2014'),
 (10034, 'Johnson, George', 'CareerBuilder', '11/7/2011'),
 (10156, 'Johnson, Noelle', 'Indeed', '1/5/2015'),
 (10036, 'Johnston, Yen', 'LinkedIn', '7/7/2014'),
 (10138, 'Jung, Judy', 'CareerBuilder', '1/10/2011'),
 (10244, 'Kampew, Donysha', 'Google Search', '11/7/2011'),
 (10192, 'Keatts, Kramer', 'Indeed', '9/30/2013'),
 (10231, 'Khemmich, Bartholemew', 'Indeed', '8/19/2013'),
 (10089, 'King, Janet', 'Indeed', '7/2/2012'),
 (10166, 'Kinsella, Kathleen', 'Google Search', '9/26/2011'),
 (10170, 'Kirill, Alexandra', 'Google Search', '9/26/2011'),
 (10208, 'Knapp, Bradley', 'LinkedIn', '2/17/2014'),
 (10176, 'Kretschmer, John', 'Indeed', '1/10/2011'),
 (10165, 'Kreuger, Freddy', 'Diversity Job Fair', '3/7/2011'),
 (10113, 'Lajiri, Jyoti', 'Employee Referral', '11/10/2014'),
 (10092, 'Landa, Hans', 'Employee Referral', '1/10/2011'),
 (10106, 'Langford, Lindsey', 'Indeed', '1/7/2013'),
 (10052, 'Langton, Enrico', 'LinkedIn', '7/9/2012'),
 (10038, 'LaRotonda, William', 'Website', '1/6/2014'),
 (10249, 'Latif, Mohammed', 'Google Search', '4/2/2012'),
 (10232, 'Le, Binh', 'Indeed', '10/2/2016'),
 (10087, 'Leach, Dallas', 'CareerBuilder', '9/26/2011'),
 (10134, 'LeBlanc, Brandon', 'CareerBuilder', '1/5/2016'),
 (10251, 'Lecter, Hannibal', 'Google Search', '5/14/2012'),
 (10103, 'Leruth, Giovanni', 'Website', '4/30/2012'),
 (10017, 'Liebig, Ketsia', 'Website', '9/30/2013'),
 (10186, 'Linares, Marilyn', 'Indeed', '7/5/2011'),
 (10137, 'Linden, Mathew', 'LinkedIn', '7/8/2013'),
 (10008, 'Lindsay, Leonara', 'Diversity Job Fair', '1/21/2011'),
 (10096, 'Lundy, Susan', 'LinkedIn', '7/8/2013'),
 (10035, 'Lunquist, Lisa', 'Indeed', '8/19/2013'),
 (10057, 'Lydon, Allison', 'Website', '2/16/2015'),
 (10004, 'Lynch, Lindsay', 'Diversity Job Fair', '11/7/2011'),
 (10191, 'MacLennan, Samuel', 'Indeed', '9/24/2012'),
 (10219, 'Mahoney, Lauren', 'LinkedIn', '1/6/2014'),
 (10077, 'Manchester, Robyn', 'LinkedIn', '5/11/2016'),
 (10073, 'Mancuso, Karen', 'LinkedIn', '7/5/2011'),
 (10279, 'Mangal, Debbie', 'LinkedIn', '11/11/2013'),
 (10110, 'Martin, Sandra', 'Google Search', '11/11/2013'),
 (10053, 'Maurice, Shana', 'Indeed', '5/31/2011'),
 (10076, "Carthy, B'rigit", 'LinkedIn', '3/30/2015'),
 (10145, 'Mckenna, Sandy', 'CareerBuilder', '1/7/2013'),
 (10202, 'McKinzie, Jac', 'Website', '7/6/2016'),
 (10128, 'Meads, Elizabeth', 'Diversity Job Fair', '4/2/2012'),
 (10068, 'Medeiros, Jennifer', 'CareerBuilder', '3/30/2015'),
 (10116, 'Miller, Brannon', 'Indeed', '8/16/2012'),
 (10298, 'Miller, Ned', 'LinkedIn', '8/15/2011'),
 (10213, 'Monkfish, Erasumus', 'LinkedIn', '11/7/2011'),
 (10288, 'Monroe, Peter', 'Diversity Job Fair', '2/15/2012'),
 (10025, 'Monterro, Luisa', 'Indeed', '5/13/2013'),
 (10223, 'Moran, Patrick', 'Diversity Job Fair', '1/9/2012'),
 (10151, 'Morway, Tanya', 'CareerBuilder', '2/16/2015'),
 (10254, 'Motlagh, Dawn', 'LinkedIn', '4/1/2013'),
 (10120, 'Moumanil, Maliki', 'LinkedIn', '5/13/2013'),
 (10216, 'Myers, Michael', 'LinkedIn', '7/8/2013'),
 (10079, 'Navathe, Kurt', 'Indeed', '2/10/2017'),
 (10215, 'Ndzi, Colombui', 'Diversity Job Fair', '9/26/2011'),
 (10185, 'Ndzi, Horia', 'Employee Referral', '4/1/2013'),
 (10063, 'Newman, Richard', 'LinkedIn', '5/12/2014'),
 (10037, 'Ngodup, Shari', 'Diversity Job Fair', '4/1/2013'),
 (10042, 'Nguyen, Dheepa', 'Indeed', '7/8/2013'),
 (10206, 'Nguyen, Lei-Ming', 'LinkedIn', '7/8/2013'),
 (10104, 'Nowlan, Kristie', 'Indeed', '11/10/2014'),
 (10303, "O'hare, Lynn", 'LinkedIn', '3/31/2014'),
 (10078, 'Oliver, Brooke', 'LinkedIn', '5/14/2012'),
 (10121, 'Onque, Jasmine', 'Indeed', '9/30/2013'),
 (10021, 'Osturnka, Adeel', 'LinkedIn', '9/30/2013'),
 (10281, 'Owad, Clinton', 'LinkedIn', '2/17/2014'),
 (10041, 'Ozark, Travis', 'Website', '1/5/2015'),
 (10148, 'Panjwani, Nina', 'Google Search', '2/7/2011'),
 (10005, 'Patronick, Lucas', 'Diversity Job Fair', '11/7/2011'),
 (10259, 'Pearson, Randall', 'Employee Referral', '12/1/2014'),
 (10286, 'Smith, Martin', 'Google Search', '1/10/2011'),
 (10297, 'Pelletier, Ermine', 'CareerBuilder', '7/5/2011'),
 (10171, 'Perry, Shakira', 'LinkedIn', '5/16/2011'),
 (10032, 'Peters, Lauren', 'Indeed', '5/16/2011'),
 (10130, 'Peterson, Ebonee', 'Indeed', '10/25/2010'),
 (10217, 'Petingill, Shana', 'LinkedIn', '4/2/2012'),
 (10016, 'Petrowsky, Thelma', 'Employee Referral', '11/10/2014'),
 (10050, 'Pham, Hong', 'Google Search', '7/5/2011'),
 (10164, 'Pitt, Brad', 'Google Search', '11/5/2007'),
 (10124, 'Potts, Xana', 'Website', '1/9/2012'),
 (10187, 'Power, Morissa', 'Google Search', '5/16/2011'),
 (10225, 'Punjabhi, Louis', 'Employee Referral', '1/6/2014'),
 (10262, 'Purinton, Janine', 'Indeed', '9/24/2012'),
 (10131, 'Quinn, Sean', 'Diversity Job Fair', '2/21/2011'),
 (10239, 'Rachael, Maggie', 'Indeed', '10/2/2016'),
 (10152, 'Rarrick, Quinn', 'Indeed', '9/26/2011'),
 (10140, 'Ren, Kylo', 'CareerBuilder', '5/12/2014'),
 (10058, 'Rhoads, Thomas', 'LinkedIn', '5/16/2011'),
 (10011, 'Rivera, Haley', 'Google Search', '11/28/2011'),
 (10230, 'Roberson, May', 'Google Search', '9/26/2011'),
 (10224, 'Robertson, Peter', 'Indeed', '7/5/2011'),
 (10047, 'Robinson, Alain', 'Indeed', '1/10/2011'),
 (10285, 'Robinson, Cherly', 'Indeed', '1/10/2011'),
 (10020, 'Robinson, Elias', 'Employee Referral', '7/8/2013'),
 (10162, 'Roby, Lori', 'Employee Referral', '2/16/2015'),
 (10149, 'Roehrich, Bianca', 'LinkedIn', '1/5/2015'),
 (10086, 'Roper, Katie', 'Indeed', '1/7/2017'),
 (10054, 'Rose, Ashley', 'Website', '1/6/2014'),
 (10065, 'Rossetti, Bruno', 'Google Search', '4/4/2011'),
 (10198, 'Roup, Simon', 'Indeed', '1/20/2013'),
 (10222, 'Ruiz, Ricardo', 'Diversity Job Fair', '1/9/2012'),
 (10126, 'Saada, Adell', 'Indeed', '11/5/2012'),
 (10295, 'Saar-Beckles, Melinda', 'Diversity Job Fair', '7/4/2016'),
 (10260, 'Sadki, Nore', 'Google Search', '1/5/2009'),
 (10233, 'Sahoo, Adil', 'CareerBuilder', '8/30/2010'),
 (10229, 'Salter, Jason', 'LinkedIn', '1/5/2015'),
 (10169, 'Sander, Kamrin', 'LinkedIn', '9/29/2014'),
 (10071, 'Sewkumar, Nori', 'Google Search', '9/30/2013'),
 (10179, 'Shepard, Anita', 'LinkedIn', '9/30/2014'),
 (10091, 'Shields, Seffi', 'LinkedIn', '8/19/2013'),
 (10178, 'Simard, Kramer', 'Employee Referral', '1/5/2015'),
 (10039, 'Singh, Nan', 'Website', '5/1/2015'),
 (10095, 'Sloan, Constance', 'CareerBuilder', '10/26/2009'),
 (10027, 'Smith, Joe', 'Indeed', '9/29/2014'),
 (10291, 'Smith, John', 'Diversity Job Fair', '5/18/2014'),
 (10153, 'Smith, Leigh', 'Diversity Job Fair', '9/26/2011'),
 (10157, 'Smith, Sade', 'Employee Referral', '11/11/2013'),
 (10119, 'Soto, Julia', 'LinkedIn', '6/10/2011'),
 (10180, 'Soze, Keyser', 'LinkedIn', '6/30/2016'),
 (10302, 'Sparks, Taylor', 'Indeed', '2/20/2012'),
 (10090, 'Spirea, Kelley', 'LinkedIn', '10/2/2012'),
 (10030, 'Squatrito, Kristen', 'LinkedIn', '5/13/2013'),
 (10278, 'Stanford, Barbara', 'Google Search', '1/10/2011'),
 (10307, 'Stansfield, Norman', 'Website', '5/12/2014'),
 (10147, 'Steans, Tyrone', 'Indeed', '9/29/2014'),
 (10266, 'Stoica, Rick', 'LinkedIn', '2/17/2014'),
 (10241, 'Strong, Caitrin', 'Indeed', '9/27/2010'),
 (10158, 'Sullivan, Kissy', 'Indeed', '1/8/2009'),
 (10117, 'Sullivan, Timothy', 'Google Search', '1/5/2015'),
 (10209, 'Sutwell, Barbara', 'Indeed', '5/14/2012'),
 (10024, 'Szabo, Andrew', 'LinkedIn', '7/7/2014'),
 (10173, 'Tannen, Biff', 'Indeed', '4/20/2017'),
 (10221, 'Tavares, Desiree', 'Diversity Job Fair', '4/27/2009'),
 (10146, 'Tejeda, Lenora', 'Google Search', '5/16/2011'),
 (10161, 'Terry, Sharlene', 'Indeed', '9/29/2014'),
 (10141, 'Theamstern, Sophia', 'Indeed', '7/5/2011'),
 (10268, 'Thibaud, Kenneth', 'Other', '6/25/2007'),
 (10123, 'Tippett, Jeanette', 'Indeed', '2/18/2013'),
 (10013, 'Torrence, Jack', 'Indeed', '1/9/2006'),
 (10287, 'Trang, Mei', 'LinkedIn', '2/17/2014'),
 (10044, 'Tredinnick, Neville', 'CareerBuilder', '1/5/2015'),
 (10102, 'TRUE, Edward', 'Diversity Job Fair', '2/18/2013'),
 (10270, 'Trzeciak, Cybil', 'LinkedIn', '1/10/2011'),
 (10045, 'Turpin, Jumil', 'Employee Referral', '3/30/2015'),
 (10205, 'Valentin, Jackie', 'Indeed', '7/5/2011'),
 (10014, 'Veera, Abdellah', 'LinkedIn', '8/13/2012'),
 (10144, 'Vega, Vincent', 'Employee Referral', '8/1/2011'),
 (10253, 'Villanueva, Noah', 'Website', '3/5/2012'),
 (10118, 'Voldemort, Lord', 'Employee Referral', '2/16/2015'),
 (10022, 'Volk, Colleen', 'Google Search', '9/26/2011'),
 (10183, 'Von, Massenbach', 'LinkedIn', '7/5/2015'),
 (10190, 'Walker, Roger', 'Employee Referral', '8/18/2014'),
 (10274, 'Wallace, Courtney', 'Diversity Job Fair', '9/26/2011'),
 (10293, 'Wallace, Theresa', 'CareerBuilder', '8/13/2012'),
 (10172, 'Wang, Charlie', 'Indeed', '2/15/2017'),
 (10127, 'Warfield, Sarah', 'Employee Referral', '3/30/2015'),
 (10072, 'Whittier, Scott', 'LinkedIn', '1/10/2011'),
 (10048, 'Wilber, Barry', 'Website', '5/16/2011'),
 (10204, 'Wilkes, Annie', 'Google Search', '1/10/2011'),
 (10264, 'Williams, Jacquelyn', 'Diversity Job Fair', '1/9/2012'),
 (10033, 'Winthrop, Jordan', 'LinkedIn', '1/7/2013'),
 (10174, 'Wolk, Hang', 'LinkedIn', '9/29/2014'),
 (10135, 'Woodson, Jason', 'LinkedIn', '7/7/2014'),
 (10301, 'Ybarra, Catherine', 'Google Search', '9/2/2008'),
 (10010, 'Zamora, Jennifer', 'Employee Referral', '4/10/2010'),
 (10043, 'Zhou, Julia', 'Employee Referral', '3/30/2015'),
 (10271, 'Zima, Colleen', 'LinkedIn', '9/29/2014')]

In [178]:
%%sql
SELECT recruitmentsource as [Recruitment Source], count(*) as Count
FROM Hired
GROUP BY recruitmentsource
ORDER BY Count DESC;

 * sqlite:///HRData.db
Done.

[('Indeed', 87),
 ('LinkedIn', 76),
 ('Google Search', 49),
 ('Employee Referral', 31),
 ('Diversity Job Fair', 29),
 ('CareerBuilder', 23),
 ('Website', 13),
 ('Other', 2),
 ('On-line Web application', 1)]

#### Company Performance

In [181]:
%%sql
SELECT
      SUM(CASE WHEN performancescore = "Exceeds" THEN 1 ELSE 0 END) as Exceeds,
      SUM(CASE WHEN performancescore = "Fully Meets" THEN 1 ELSE 0 END) as [Fully Meets],
      SUM(CASE WHEN performancescore = "Needs Improvement" THEN 1 ELSE 0 END) as [Needs Improvement],
      SUM(CASE WHEN performancescore = "PIP" THEN 1 ELSE 0 END) as [PIP]
FROM performances as score
JOIN performance as performance
ON score.perfscoreid = performance.perfscoreid;

 * sqlite:///HRData.db
Done.

[(37, 243, 18, 13)]

#### Manager Performance

In [199]:
%%sql
SELECT d.department, manager.managername, score.performancescore, COUNT(score.performancescore) as Score,
round(avg(engagementsurvey), 2) as [Average Engagement Survey], round(avg(empsatisfaction), 2) as [Average Employee Satisfaction], specialprojectscount as [Special Project],
dayslatelast30 as [Late Employees], absences as [Absence Employees]
FROM info as i
JOIN dept as d
ON i.deptid = d.deptid
JOIN manager as manager
ON i.managerid = manager.managerid
JOIN performance as performance
ON i.empid = performance.empid
JOIN performances as score
ON performance.perfscoreid = score.perfscoreid
GROUP BY d.department
ORDER BY Score DESC;

 * sqlite:///HRData.db
Done.

[('Production       ', 'Michael Albert', 'Exceeds', 200, 4.12, 3.86, 0, 0, 1),
 ('IT/IS', 'Simon Roup', 'Fully Meets', 50, 4.15, 3.96, 6, 0, 17),
 ('Sales', 'John Smith', 'Fully Meets', 32, 3.83, 4.03, 0, 1, 19),
 ('Software Engineering', 'Alex Sweetwater', 'Fully Meets', 10, 4.05, 4.1, 4, 0, 19),
 ('Admin Offices', 'Brandon R. LeBlanc', 'Fully Meets', 10, 4.37, 3.6, 3, 0, 4),
 ('Executive Office', 'Board of Directors', 'Fully Meets', 1, 4.83, 3.0, 0, 0, 10)]

#### Diversity in the Company

##### Method #1:

In [200]:
%%sql
SELECT
      SUM(CASE WHEN racedesc = "White" THEN 1 ELSE 0 END) as White,
      SUM(CASE WHEN racedesc = "Black or African American" THEN 1 ELSE 0 END) as [Black or African American],
      SUM(CASE WHEN racedesc = "Two or more races" THEN 1 ELSE 0 END) as [Two or more races],
      SUM(CASE WHEN racedesc = "Asian" THEN 1 ELSE 0 END) as Asian,
      SUM(CASE WHEN racedesc = "Hispanic" THEN 1 ELSE 0 END) as Hispanic,
      SUM(CASE WHEN racedesc = "American Indian or Alaska Native" THEN 1 ELSE 0 END) as [American Indian or Alaska Native]
FROM Diversity;

 * sqlite:///HRData.db
Done.

[(187, 80, 11, 29, 1, 3)]

##### Method #2:

In [201]:
%%sql
SELECT racedesc, COUNT(racedesc) as Race
FROM diversity
GROUP BY racedesc;

 * sqlite:///HRData.db
Done.

[('American Indian or Alaska Native', 3),
 ('Asian', 29),
 ('Black or African American', 80),
 ('Hispanic', 1),
 ('Two or more races', 11),
 ('White', 187)]

#### Diversity in Every Department

In [218]:
%%sql
SELECT d.department, racedesc as Race, COUNT(diverse.racedesc) as Count
FROM info as i
JOIN dept as d
ON i.deptid = d.deptid
JOIN HR as h
ON i.empid = h.empid
JOIN diversity as diverse
ON i.empid = diverse.empid
WHERE d.department = "IT/IS"
GROUP BY racedesc
UNION
SELECT d.department, racedesc as Race, COUNT(diverse.racedesc) as Count
FROM info as i
JOIN dept as d
ON i.deptid = d.deptid
JOIN HR as h
ON i.empid = h.empid
JOIN diversity as diverse
ON i.empid = diverse.empid
WHERE d.department LIKE "%Production%"
GROUP BY racedesc
UNION
SELECT d.department, racedesc as Race, COUNT(diverse.racedesc) as Count
FROM info as i
JOIN dept as d
ON i.deptid = d.deptid
JOIN HR as h
ON i.empid = h.empid
JOIN diversity as diverse
ON i.empid = diverse.empid
WHERE d.department = "Sales"
GROUP BY racedesc
UNION
SELECT d.department, racedesc as Race, COUNT(diverse.racedesc) as Count
FROM info as i
JOIN dept as d
ON i.deptid = d.deptid
JOIN HR as h
ON i.empid = h.empid
JOIN diversity as diverse
ON i.empid = diverse.empid
WHERE d.department = "Software Engineering"
GROUP BY racedesc
UNION
SELECT d.department, racedesc as Race, COUNT(diverse.racedesc) as Count
FROM info as i
JOIN dept as d
ON i.deptid = d.deptid
JOIN HR as h
ON i.empid = h.empid
JOIN diversity as diverse
ON i.empid = diverse.empid
WHERE d.department = "Admin Offices"
GROUP BY racedesc
UNION
SELECT d.department, racedesc as Race, COUNT(diverse.racedesc) as Count
FROM info as i
JOIN dept as d
ON i.deptid = d.deptid
JOIN HR as h
ON i.empid = h.empid
JOIN diversity as diverse
ON i.empid = diverse.empid
WHERE d.department = "Executive Office"
GROUP BY racedesc

 * sqlite:///HRData.db
Done.

[('Admin Offices', 'Black or African American', 6),
 ('Admin Offices', 'White', 4),
 ('Executive Office', 'White', 1),
 ('IT/IS', 'Asian', 6),
 ('IT/IS', 'Black or African American', 15),
 ('IT/IS', 'White', 29),
 ('Production       ', 'American Indian or Alaska Native', 2),
 ('Production       ', 'Asian', 21),
 ('Production       ', 'Black or African American', 45),
 ('Production       ', 'Hispanic', 1),
 ('Production       ', 'Two or more races', 6),
 ('Production       ', 'White', 133),
 ('Sales', 'American Indian or Alaska Native', 1),
 ('Sales', 'Asian', 1),
 ('Sales', 'Black or African American', 10),
 ('Sales', 'Two or more races', 5),
 ('Sales', 'White', 15),
 ('Software Engineering', 'Asian', 1),
 ('Software Engineering', 'Black or African American', 4),
 ('Software Engineering', 'White', 5)]

#### Employee Status

In [192]:
%sql SELECT * FROM HR;

 * sqlite:///HRData.db
Done.

[(10026, 'Adinolfi', 'Wilson', 'K', 0, 62506, 0, 'Production Technician I', 'MA', 1960, '7/10/1983', 'M ', 'Single', 'US Citizen', 'No', 'White', '7/5/2011', '', 'N/A-StillEmployed', 'Active', 'Production       ', 'Michael Albert', 'LinkedIn', 'Exceeds', 4.6, 5, 0, '1/17/2019', 0, 1),
 (10084, 'Ait', 'Sidi', 'Karthikeyan', 0, 104437, 1, 'Sr. DBA', 'MA', 2148, '5/5/1975', 'M ', 'Married', 'US Citizen', 'No', 'White', '3/30/2015', '6/16/2016', 'career change', 'Voluntarily Terminated', 'IT/IS', 'Simon Roup', 'Indeed', 'Fully Meets', 4.96, 3, 6, '2/24/2016', 0, 17),
 (10196, 'Akinkuolie', 'Sarah', '', 0, 64955, 1, 'Production Technician II', 'MA', 1810, '09/19/88', 'F', 'Married', 'US Citizen', 'No', 'White', '7/5/2011', '9/24/2012', 'hours', 'Voluntarily Terminated', 'Production       ', 'Kissy Sullivan', 'LinkedIn', 'Fully Meets', 3.02, 3, 0, '5/15/2012', 0, 3),
 (10088, 'Alagbe', 'Trina', '', 0, 64991, 0, 'Production Technician I', 'MA', 1886, '09/27/88', 'F', 'Married', 'US Citizen', 'No', 'White', '1/7/2008', '', 'N/A-StillEmployed', 'Active', 'Production       ', 'Elijiah Gray', 'Indeed', 'Fully Meets', 4.84, 5, 0, '1/3/2019', 0, 15),
 (10069, 'Anderson', 'Carol', '', 0, 50825, 1, 'Production Technician I', 'MA', 2169, '9/8/1989', 'F', 'Divorced', 'US Citizen', 'No', 'White', '7/11/2011', '9/6/2016', 'return to school', 'Voluntarily Terminated', 'Production       ', 'Webster Butler', 'Google Search', 'Fully Meets', 5, 4, 0, '2/1/2016', 0, 2),
 (10002, 'Anderson', 'Linda', '', 0, 57568, 0, 'Production Technician I', 'MA', 1844, '05/22/77', 'F', 'Single', 'US Citizen', 'No', 'White', '1/9/2012', '', 'N/A-StillEmployed', 'Active', 'Production       ', 'Amy Dunn', 'LinkedIn', 'Exceeds', 5, 5, 0, '1/7/2019', 0, 15),
 (10194, 'Andreola', 'Colby', '', 0, 95660, 0, 'Software Engineer', 'MA', 2110, '05/24/79', 'F', 'Single', 'US Citizen', 'No', 'White', '11/10/2014', '', 'N/A-StillEmployed', 'Active', 'Software Engineering', 'Alex Sweetwater', 'LinkedIn', 'Fully Meets', 3.04, 3, 4, '1/2/2019', 0, 19),
 (10062, 'Athwal', 'Sam', '', 0, 59365, 0, 'Production Technician I', 'MA', 2199, '02/18/83', 'M ', 'Widowed', 'US Citizen', 'No', 'White', '9/30/2013', '', 'N/A-StillEmployed', 'Active', 'Production       ', 'Ketsia Liebig', 'Employee Referral', 'Fully Meets', 5, 4, 0, '2/25/2019', 0, 19),
 (10114, 'Bachiochi', 'Linda', '', 1, 47837, 0, 'Production Technician I', 'MA', 1902, '2/11/1970', 'F', 'Single', 'US Citizen', 'No', 'Black or African American', '7/6/2009', '', 'N/A-StillEmployed', 'Active', 'Production       ', 'Brannon Miller', 'Diversity Job Fair', 'Fully Meets', 4.46, 3, 0, '1/25/2019', 0, 4),
 (10250, 'Bacong', 'Alejandro', '', 0, 50178, 0, 'IT Support', 'MA', 1886, '1/7/1988', 'M ', 'Divorced', 'US Citizen', 'No', 'White', '1/5/2015', '', 'N/A-StillEmployed', 'Active', 'IT/IS', 'Peter Monroe', 'Indeed', 'Fully Meets', 5, 5, 6, '2/18/2019', 0, 16),
 (10252, 'Baczenski', 'Rachael', '', 1, 54670, 1, 'Production Technician I', 'MA', 1902, '1/12/1974', 'F', 'Married', 'US Citizen', 'Yes', 'Black or African American', '1/10/2011', '1/12/2017', 'Another position', 'Voluntarily Terminated', 'Production       ', 'David Stanley', 'Diversity Job Fair', 'Fully Meets', 4.2, 4, 0, '1/30/2016', 0, 12),
 (10242, 'Barbara', 'Thomas', '', 1, 47211, 1, 'Production Technician I', 'MA', 2062, '02/21/74', 'M ', 'Married', 'US Citizen', 'Yes', 'Black or African American', '4/2/2012', '9/19/2016', 'unhappy', 'Voluntarily Terminated', 'Production       ', 'Kissy Sullivan', 'Diversity Job Fair', 'Fully Meets', 4.2, 3, 0, '5/6/2016', 0, 15),
 (10012, 'Barbossa', 'Hector', '', 1, 92328, 0, 'Data Analyst', 'TX', 78230, '7/4/1988', 'M ', 'Divorced', 'US Citizen', 'No', 'Black or African American', '11/10/2014', '', 'N/A-StillEmployed', 'Active', 'IT/IS', 'Simon Roup', 'Diversity Job Fair', 'Exceeds', 4.28, 4, 5, '2/25/2019', 0, 9),
 (10265, 'Barone', 'Francesco', 'A', 0, 58709, 0, 'Production Technician I', 'MA', 1810, '07/20/83', 'M ', 'Single', 'US Citizen', 'No', 'Two or more races', '2/20/2012', '', 'N/A-StillEmployed', 'Active', 'Production       ', 'Kelley Spirea', 'Google Search', 'Fully Meets', 4.6, 4, 0, '2/14/2019', 0, 7),
 (10066, 'Barton', 'Nader', '', 0, 52505, 1, 'Production Technician I', 'MA', 2747, '07/15/77', 'M ', 'Divorced', 'US Citizen', 'No', 'White', '9/24/2012', '4/6/2017', 'Another position', 'Voluntarily Terminated', 'Production       ', 'Michael Albert', 'On-line Web application', 'Fully Meets', 5, 5, 0, '3/2/2017', 0, 1),
 (10061, 'Bates', 'Norman', '', 0, 57834, 1, 'Production Technician I', 'MA', 2050, '10/18/81', 'M ', 'Single', 'US Citizen', 'No', 'White', '2/21/2011', '8/4/2017', 'attendance', 'Terminated for Cause', 'Production       ', 'Kelley Spirea', 'Google Search', 'Fully Meets', 5, 4, 0, '4/5/2017', 0, 20),
 (10023, 'Beak', 'Kimberly', '', 0, 70131, 0, 'Production Technician II', 'MA', 2145, '04/17/66', 'F', 'Married', 'US Citizen', 'No', 'White', '7/21/2016', '', 'N/A-StillEmployed', 'Active', 'Production       ', 'Kelley Spirea', 'Employee Referral', 'Exceeds', 4.4, 3, 0, '1/14/2019', 0, 16),
 (10055, 'Beatrice', 'Courtney', '', 0, 59026, 0, 'Production Technician I', 'MA', 1915, '10/27/70', 'F', 'Single', 'Eligible NonCitizen', 'No', 'White', '4/4/2011', '', 'N/A-StillEmployed', 'Active', 'Production       ', 'Elijiah Gray', 'Google Search', 'Fully Meets', 5, 5, 0, '1/14/2019', 0, 12),
 (10245, 'Becker', 'Renee', '', 0, 110000, 1, 'Database Administrator', 'MA', 2026, '4/4/1986', 'F', 'Single', 'US Citizen', 'Yes', 'White', '7/7/2014', '9/12/2015', 'performance', 'Terminated for Cause', 'IT/IS', 'Simon Roup', 'Google Search', 'Fully Meets', 4.5, 4, 5, '1/15/2015', 0, 8),
 (10277, 'Becker', 'Scott', '', 0, 53250, 0, 'Production Technician I', 'MA', 2452, '4/6/1979', 'M ', 'Single', 'US Citizen', 'No', 'Asian', '7/8/2013', '', 'N/A-StillEmployed', 'Active', 'Production       ', 'Webster Butler', 'LinkedIn', 'Fully Meets', 4.2, 4, 0, '1/11/2019', 0, 13),
 (10046, 'Bernstein', 'Sean', '', 0, 51044, 0, 'Production Technician I', 'MA', 2072, '12/22/70', 'M ', 'Single', 'US Citizen', 'Yes', 'White', '4/2/2012', '', 'N/A-StillEmployed', 'Active', 'Production       ', 'Amy Dunn', 'Google Search', 'Fully Meets', 5, 3, 0, '1/14/2019', 0, 13),
 (10226, 'Biden', 'Lowan', 'M', 0, 64919, 0, 'Production Technician I', 'MA', 2027, '12/27/58', 'F', 'Divorced', 'US Citizen', 'No', 'Asian', '8/19/2013', '', 'N/A-StillEmployed', 'Active', 'Production       ', 'Ketsia Liebig', 'Indeed', 'Fully Meets', 4.2, 3, 0, '1/10/2019', 0, 2),
 (10003, 'Billis', 'Helen', '', 0, 62910, 0, 'Production Technician I', 'MA', 2031, '9/1/1989', 'F', 'Married', 'US Citizen', 'No', 'White', '7/7/2014', '', 'N/A-StillEmployed', 'Active', 'Production       ', 'Brannon Miller', 'Indeed', 'Exceeds', 5, 3, 0, '2/27/2019', 0, 19),
 (10294, 'Blount', 'Dianna', '', 0, 66441, 0, 'Production Technician II', 'MA', 2171, '09/21/90', 'F', 'Single', 'US Citizen', 'No', 'White', '4/4/2011', '', 'N/A-StillEmployed', 'Active', 'Production       ', 'Michael Albert', 'CareerBuilder', 'Needs Improvement', 2, 3, 0, '2/27/2019', 2, 3),
 (10267, 'Bondwell', 'Betsy', '', 0, 57815, 1, 'Production Technician II', 'MA', 2210, '01/16/67', 'F', 'Single', 'US Citizen', 'No', 'White', '1/10/2011', '4/4/2014', 'career change', 'Voluntarily Terminated', 'Production       ', 'Elijiah Gray', 'Google Search', 'Fully Meets', 4.8, 5, 0, '3/4/2014', 0, 5),
 (10199, 'Booth', 'Frank', '', 0, 103613, 1, 'Enterprise Architect', 'CT', 6033, '07/30/64', 'M ', 'Single', 'US Citizen', 'No', 'Black or African American', '2/17/2014', '2/19/2016', 'Learned that he is a gangster', 'Terminated for Cause', 'IT/IS', 'Simon Roup', 'LinkedIn', 'Fully Meets', 3.5, 5, 7, '1/10/2016', 0, 2),
 (10081, 'Boutwell', 'Bonalyn', '', 1, 106367, 0, 'Sr. Accountant', 'MA', 2468, '4/4/1987', 'F', 'Married', 'US Citizen', 'No', 'Black or African American', '2/16/2015', '', 'N/A-StillEmployed', 'Active', 'Admin Offices', 'Brandon R. LeBlanc', 'Diversity Job Fair', 'Fully Meets', 5, 4, 3, '2/18/2019', 0, 4),
 (10175, 'Bozzi', 'Charles', '', 0, 74312, 1, 'Production Manager', 'MA', 1901, '3/10/1970', 'M ', 'Single', 'US Citizen', 'No', 'Asian', '9/30/2013', '8/7/2014', 'retiring', 'Voluntarily Terminated', 'Production       ', 'Janet King', 'Indeed', 'Fully Meets', 3.39, 3, 0, '2/20/2014', 0, 14),
 (10177, 'Brill', 'Donna', '', 0, 53492, 1, 'Production Technician I', 'MA', 1701, '08/24/90', 'F', 'Married', 'US Citizen', 'No', 'White', '4/2/2012', '6/15/2013', 'Another position', 'Voluntarily Terminated', 'Production       ', 'David Stanley', 'Google Search', 'Fully Meets', 3.35, 4, 0, '3/4/2013', 0, 6),
 (10238, 'Brown', 'Mia', '', 1, 63000, 0, 'Accountant I', 'MA', 1450, '11/24/87', 'F', 'Married', 'US Citizen', 'No', 'Black or African American', '10/27/2008', '', 'N/A-StillEmployed', 'Active', 'Admin Offices', 'Brandon R. LeBlanc', 'Diversity Job Fair', 'Fully Meets', 4.5, 2, 6, '1/15/2019', 0, 14),
 (10184, 'Buccheri', 'Joseph', '', 0, 65288, 0, 'Production Technician II', 'MA', 1013, '07/28/83', 'M ', 'Single', 'US Citizen', 'No', 'White', '9/29/2014', '', 'N/A-StillEmployed', 'Active', 'Production       ', 'Webster Butler', 'Google Search', 'Fully Meets', 3.19, 3, 0, '2/1/2019', 0, 9),
 (10203, 'Bugali', 'Josephine', '', 1, 64375, 0, 'Production Technician I', 'MA', 2043, '10/30/69', 'F', 'Separated', 'US Citizen', 'No', 'Black or African American', '11/11/2013', '', 'N/A-StillEmployed', 'Active', 'Production       ', 'Kissy Sullivan', 'Diversity Job Fair', 'Fully Meets', 3.5, 5, 0, '1/21/2019', 0, 17),
 (10188, 'Bunbury', 'Jessica', '', 0, 74326, 1, 'Area Sales Manager', 'VA', 21851, '6/1/1964', 'F', 'Married', 'Eligible NonCitizen', 'No', 'Black or African American', '8/15/2011', '8/2/2014', 'Another position', 'Voluntarily Terminated', 'Sales', 'John Smith', 'Google Search', 'Fully Meets', 3.14, 5, 0, '2/10/2013', 1, 19),
 (10107, 'Burke', 'Joelle', '', 0, 63763, 0, 'Production Technician II', 'MA', 2148, '3/2/1980', 'F', 'Single', 'US Citizen', 'No', 'Black or African American', '3/5/2012', '', 'N/A-StillEmployed', 'Active', 'Production       ', 'Amy Dunn', 'Employee Referral', 'Fully Meets', 4.51, 4, 0, '2/21/2019', 0, 3),
 (10181, 'Burkett', 'Benjamin', '', 0, 62162, 0, 'Production Technician II', 'MA', 1890, '08/19/77', 'M ', 'Married', 'US Citizen', 'No', 'White', '4/4/2011', '', 'N/A-StillEmployed', 'Active', 'Production       ', 'Ketsia Liebig', 'Indeed', 'Fully Meets', 3.25, 5, 0, '1/14/2019', 0, 15),
 (10150, 'Cady', 'Max', '', 0, 77692, 0, 'Software Engineering Manager', 'MA', 2184, '11/22/66', 'M ', 'Single', 'US Citizen', 'No', 'White', '8/15/2011', '', 'N/A-StillEmployed', 'Active', 'Software Engineering', 'Jennifer Zamora', 'Google Search', 'Fully Meets', 3.84, 3, 5, '1/21/2019', 0, 4),
 (10001, 'Candie', 'Calvin', '', 0, 72640, 0, 'Production Manager', 'MA', 2169, '8/9/1983', 'M ', 'Single', 'US Citizen', 'No', 'White', '1/28/2016', '', 'N/A-StillEmployed', 'Active', 'Production       ', 'Janet King', 'Indeed', 'Exceeds', 5, 3, 0, '2/22/2019', 0, 14),
 (10085, 'Carabbio', 'Judith', '', 0, 93396, 0, 'Software Engineer', 'MA', 2132, '4/5/1987', 'F', 'Single', 'US Citizen', 'No', 'White', '11/11/2013', '', 'N/A-StillEmployed', 'Active', 'Software Engineering', 'Alex Sweetwater', 'Indeed', 'Fully Meets', 4.96, 4, 6, '1/30/2019', 0, 3),
 (10115, 'Carey', 'Michael', '', 0, 52846, 0, 'Production Technician I', 'MA', 1701, '2/2/1983', 'M ', 'Single', 'US Citizen', 'No', 'Black or African American', '3/31/2014', '', 'N/A-StillEmployed', 'Active', 'Production       ', 'Kelley Spirea', 'LinkedIn', 'Fully Meets', 4.43, 3, 0, '2/1/2019', 0, 14),
 (10082, 'Carr', 'Claudia', 'N', 0, 100031, 0, 'Sr. DBA', 'MA', 1886, '6/6/1986', 'F', 'Single', 'US Citizen', 'No', 'Black or African American', '6/30/2016', '', 'N/A-StillEmployed', 'Active', 'IT/IS', 'Simon Roup', 'LinkedIn', 'Fully Meets', 5, 5, 6, '2/18/2019', 0, 7),
 (10040, 'Carter', 'Michelle', '', 0, 71860, 0, 'Area Sales Manager', 'VT', 5664, '05/15/63', 'F', 'Single', 'US Citizen', 'No', 'White', '8/18/2014', '', 'N/A-StillEmployed', 'Active', 'Sales', 'John Smith', 'Indeed', 'Fully Meets', 5, 5, 0, '1/21/2019', 0, 7),
 (10067, 'Chace', 'Beatrice', '', 0, 61656, 0, 'Production Technician I', 'MA', 2763, '1/2/1951', 'F', 'Single', 'US Citizen', 'No', 'White', '9/29/2014', '', 'N/A-StillEmployed', 'Active', 'Production       ', 'Michael Albert', 'Google Search', 'Fully Meets', 5, 4, 0, '2/12/2019', 0, 11),
 (10108, 'Champaigne', 'Brian', '', 0, 110929, 0, 'BI Director', 'MA', 2045, '2/9/1972', 'M ', 'Married', 'US Citizen', 'No', 'White', '9/6/2016', '', 'N/A-StillEmployed', 'Active', 'IT/IS', 'Jennifer Zamora', 'Indeed', 'Fully Meets', 4.5, 5, 7, '1/15/2019', 0, 8),
 (10210, 'Chan', 'Lin', '', 0, 54237, 0, 'Production Technician I', 'MA', 2170, '2/12/1979', 'F', 'Single', 'US Citizen', 'No', 'White', '5/12/2014', '', 'N/A-StillEmployed', 'Active', 'Production       ', 'Elijiah Gray', 'Indeed', 'Fully Meets', 3.3, 4, 0, '2/19/2019', 0, 11),
 (10154, 'Chang', 'Donovan', 'E', 0, 60380, 0, 'Production Technician I', 'MA', 1845, '08/24/83', 'M ', 'Single', 'US Citizen', 'No', 'White', '7/8/2013', '', 'N/A-StillEmployed', 'Active', 'Production       ', 'Webster Butler', 'LinkedIn', 'Fully Meets', 3.8, 5, 0, '1/14/2019', 0, 4),
 (10200, 'Chigurh', 'Anton', '', 0, 66808, 0, 'Area Sales Manager', 'TX', 78207, '6/11/1970', 'M ', 'Single', 'Eligible NonCitizen', 'No', 'Black or African American', '5/14/2012', '', 'N/A-StillEmployed', 'Active', 'Sales', 'Lynn Daneault', 'Employee Referral', 'Fully Meets', 3, 5, 0, '1/19/2019', 0, 17),
 (10240, 'Chivukula', 'Enola', '', 0, 64786, 1, 'Production Technician I', 'MA', 1775, '08/27/83', 'F', 'Single', 'US Citizen', 'No', 'White', '6/27/2011', '11/15/2015', 'relocation out of area', 'Voluntarily Terminated', 'Production       ', 'Amy Dunn', 'Indeed', 'Fully Meets', 4.3, 4, 0, '3/10/2015', 0, 3),
 (10168, 'Cierpiszewski', 'Caroline', '', 0, 64816, 0, 'Production Technician I', 'MA', 2044, '05/31/88', 'F', 'Single', 'Non-Citizen', 'No', 'Black or African American', '10/3/2011', '', 'N/A-StillEmployed', 'Active', 'Production       ', 'Ketsia Liebig', 'Indeed', 'Fully Meets', 3.58, 5, 0, '1/30/2019', 0, 3),
 (10220, 'Clayton', 'Rick', '', 0, 68678, 0, 'IT Support', 'MA', 2170, '9/5/1985', 'M ', 'Single', 'US Citizen', 'No', 'White', '9/5/2012', '', 'N/A-StillEmployed', 'Active', 'IT/IS', 'Eric Dougall', 'Indeed', 'Fully Meets', 4.7, 3, 6, '2/27/2019', 0, 2),
 (10275, 'Cloninger', 'Jennifer', '', 0, 64066, 1, 'Production Technician II', 'MA', 1752, '08/31/81', 'F', 'Married', 'US Citizen', 'No', 'White', '5/16/2011', '1/7/2013', 'unhappy', 'Voluntarily Terminated', 'Production       ', 'Brannon Miller', 'Google Search', 'Fully Meets', 4.2, 5, 0, '5/3/2012', 0, 9),
 (10269, 'Close', 'Phil', '', 0, 59369, 1, 'Production Technician II', 'MA', 2169, '11/25/78', 'M ', 'Married', 'US Citizen', 'No', 'White', '8/30/2010', '9/26/2011', 'career change', 'Voluntarily Terminated', 'Production       ', 'David Stanley', 'Indeed', 'Fully Meets', 4.2, 4, 0, '5/4/2011', 0, 6),
 (10029, 'Clukey', 'Elijian', '', 0, 50373, 0, 'Production Technician I', 'MA', 2134, '08/26/80', 'M ', 'Married', 'US Citizen', 'No', 'White', '7/6/2016', '', 'N/A-StillEmployed', 'Active', 'Production       ', 'Brannon Miller', 'Employee Referral', 'Exceeds', 4.1, 4, 0, '2/28/2019', 0, 5),
 (10261, 'Cockel', 'James', '', 0, 63108, 0, 'Production Technician I', 'MA', 2452, '9/8/1977', 'M ', 'Single', 'US Citizen', 'No', 'White', '7/8/2013', '', 'N/A-StillEmployed', 'Active', 'Production       ', 'David Stanley', 'Employee Referral', 'Fully Meets', 4.4, 5, 0, '1/14/2019', 0, 3),
 (10292, 'Cole', 'Spencer', '', 0, 59144, 1, 'Production Technician I', 'MA', 1880, '8/12/1979', 'M ', 'Single', 'US Citizen', 'No', 'Black or African American', '7/11/2011', '9/23/2016', 'performance', 'Terminated for Cause', 'Production       ', 'Kissy Sullivan', 'LinkedIn', 'Needs Improvement', 2, 3, 0, '5/1/2016', 5, 16),
 (10282, 'Corleone', 'Michael', '', 0, 68051, 0, 'Production Manager', 'MA', 1803, '12/17/75', 'M ', 'Divorced', 'US Citizen', 'No', 'White', '7/20/2010', '', 'N/A-StillEmployed', 'Active', 'Production       ', 'Janet King', 'CareerBuilder', 'Needs Improvement', 4.13, 2, 0, '1/14/2019', 3, 3),
 (10019, 'Corleone', 'Vito', '', 0, 170500, 0, 'Director of Operations', 'MA', 2030, '03/19/83', 'M ', 'Single', 'US Citizen', 'No', 'Black or African American', '1/5/2009', '', 'N/A-StillEmployed', 'Active', 'Production       ', 'Janet King', 'Indeed', 'Exceeds', 3.7, 5, 0, '2/4/2019', 0, 15),
 (10094, 'Cornett', 'Lisa', '', 0, 63381, 0, 'Production Technician I', 'MA', 2189, '03/31/77', 'F', 'Married', 'US Citizen', 'Yes', 'White', '1/5/2015', '', 'N/A-StillEmployed', 'Active', 'Production       ', 'Kelley Spirea', 'Indeed', 'Fully Meets', 4.73, 5, 0, '2/14/2019', 0, 6),
 (10193, 'Costello', 'Frank', '', 0, 83552, 0, 'Data Analyst', 'MA', 1810, '08/26/86', 'M ', 'Married', 'US Citizen', 'No', 'White', '3/30/2015', '', 'N/A-StillEmployed', 'Active', 'IT/IS', 'Simon Roup', 'Indeed', 'Fully Meets', 3.04, 3, 6, '1/22/2019', 0, 2),
 (10132, 'Crimmings', 'Jean', '', 0, 56149, 0, 'Production Technician I', 'MA', 1821, '4/10/1987', 'F', 'Single', 'US Citizen', 'No', 'White', '7/6/2016', '', 'N/A-StillEmployed', 'Active', 'Production       ', 'Michael Albert', 'LinkedIn', 'Fully Meets', 4.12, 5, 0, '1/28/2019', 0, 15),
 (10083, 'Cross', 'Noah', '', 0, 92329, 0, 'Sr. Network Engineer', 'CT', 6278, '9/9/1965', 'M ', 'Single', 'US Citizen', 'No', 'White', '11/10/2014', '', 'N/A-StillEmployed', 'Active', 'IT/IS', 'Peter Monroe', 'Employee Referral', 'Fully Meets', 5, 3, 4, '1/2/2019', 0, 5),
 (10099, 'Daneault', 'Lynn', '', 0, 65729, 0, 'Sales Manager', 'VT', 5473, '04/19/90', 'F', 'Single', 'US Citizen', 'No', 'White', '5/5/2014', '', 'N/A-StillEmployed', 'Active', 'Sales', 'Debra Houlihan', 'Indeed', 'Fully Meets', 4.62, 4, 0, '1/24/2019', 0, 8),
 (10212, 'Daniele', 'Ann', '', 0, 85028, 0, 'Sr. Network Engineer', 'CT', 6033, '01/18/52', 'F', 'Married', 'US Citizen', 'No', 'White', '11/10/2014', '', 'N/A-StillEmployed', 'Active', 'IT/IS', 'Peter Monroe', 'LinkedIn', 'Fully Meets', 3.1, 5, 8, '2/12/2019', 0, 19),
 (10056, 'Darson', "Jene'ya", '', 0, 57583, 0, 'Production Technician I', 'MA', 2110, '11/5/1978', 'F', 'Married', 'US Citizen', 'No', 'White', '7/2/2012', '', 'N/A-StillEmployed', 'Active', 'Production       ', 'Elijiah Gray', 'Indeed', 'Fully Meets', 5, 3, 0, '2/25/2019', 0, 1),
 (10143, 'Davis', 'Daniel', '', 0, 56294, 0, 'Production Technician II', 'MA', 2458, '09/14/79', 'M ', 'Single', 'Eligible NonCitizen', 'No', 'Two or more races', '11/7/2011', '', 'N/A-StillEmployed', 'Active', 'Production       ', 'Kissy Sullivan', 'LinkedIn', 'Fully Meets', 3.96, 4, 0, '2/27/2019', 0, 6),
 (10311, 'Dee', 'Randy', '', 0, 56991, 0, 'Production Technician I', 'MA', 2138, '04/15/88', 'M ', 'Married', 'US Citizen', 'No', 'White', '7/9/2018', '', 'N/A-StillEmployed', 'Active', 'Production       ', 'Brannon Miller', 'Indeed', 'Fully Meets', 4.3, 4, 3, '1/31/2019', 2, 2),
 (10070, 'DeGweck', 'James', '', 0, 55722, 1, 'Production Technician I', 'MA', 1810, '10/31/77', 'M ', 'Married', 'US Citizen', 'No', 'White', '5/16/2011', '6/8/2016', 'unhappy', 'Voluntarily Terminated', 'Production       ', 'Webster Butler', 'Indeed', 'Fully Meets', 5, 4, 0, '4/2/2016', 0, 14),
 (10155, 'Del', 'Bosque', 'Keyla', 0, 101199, 0, 'Software Engineer', 'MA', 2176, '7/5/1979', 'F', 'Single', 'US Citizen', 'No', 'Black or African American', '1/9/2012', '', 'N/A-StillEmployed', 'Active', 'Software Engineering', 'Alex Sweetwater', 'CareerBuilder', 'Fully Meets', 3.79, 5, 5, '1/25/2019', 0, 8),

In [224]:
%%sql
SELECT d.department, i.EmploymentStatus as [Employment Status], COUNT(i.EmploymentStatus) AS Count
FROM info as i
JOIN dept as d
ON i.deptid = d.deptid
WHERE EmploymentStatus LIKE "%Active%"
GROUP BY d.department
UNION
SELECT d.department, i.EmploymentStatus as [Employment Status], COUNT(i.EmploymentStatus) AS Count
FROM info as i
JOIN dept as d
ON i.deptid = d.deptid
WHERE EmploymentStatus LIKE "%Terminated%"
GROUP BY d.department;

 * sqlite:///HRData.db
Done.

[('Admin Offices', 'Active', 7),
 ('Admin Offices', 'Terminated for Cause', 3),
 ('Executive Office', 'Active', 1),
 ('IT/IS', 'Active', 40),
 ('IT/IS', 'Voluntarily Terminated', 10),
 ('Production       ', 'Active', 125),
 ('Production       ', 'Voluntarily Terminated', 83),
 ('Sales', 'Active', 27),
 ('Sales', 'Voluntarily Terminated', 5),
 ('Software Engineering', 'Active', 7),
 ('Software Engineering', 'Terminated for Cause', 3)]

#### Termination Reasons

In [228]:
%%sql
SELECT d.department, i.EmploymentStatus as [Employment Status], i.termreason as Reason, COUNT(i.EmploymentStatus) AS Count
FROM info as i
JOIN dept as d
ON i.deptid = d.deptid
WHERE EmploymentStatus LIKE "%Terminated%"
GROUP BY i.termreason
ORDER BY Count DESC;

 * sqlite:///HRData.db
Done.

[('Production       ', 'Voluntarily Terminated', 'Another position', 20),
 ('Production       ', 'Voluntarily Terminated', 'unhappy', 14),
 ('Production       ', 'Voluntarily Terminated', 'more money', 11),
 ('IT/IS', 'Voluntarily Terminated', 'career change', 9),
 ('Production       ', 'Voluntarily Terminated', 'hours', 8),
 ('Production       ', 'Terminated for Cause', 'attendance', 7),
 ('Production       ', 'Voluntarily Terminated', 'return to school', 5),
 ('Production       ', 'Voluntarily Terminated', 'relocation out of area', 5),
 ('Production       ', 'Voluntarily Terminated', 'retiring', 4),
 ('IT/IS', 'Terminated for Cause', 'performance', 4),
 ('Production       ', 'Terminated for Cause', 'no-call, no-show', 4),
 ('Production       ', 'Voluntarily Terminated', 'military', 4),
 ('Production       ', 'Voluntarily Terminated', 'medical issues', 3),
 ('Sales', 'Voluntarily Terminated', 'maternity leave - did not return', 3),
 ('Production       ', 'Terminated for Cause', 'gross misconduct', 1),
 ('IT/IS', 'Terminated for Cause', 'Learned that he is a gangster', 1),
 ('Sales', 'Terminated for Cause', 'Fatal attraction', 1)]

#### Date of Last Hired and Terminated Employee

In [ ]:
SELECT DateofHire from HR
WHERE DATEPART(m, DateofHire) = DATEPART(m, DATEADD(m , -1, getdate()))
AND DATEPART(yyyy, DateofHire) = DATEPART(yyyy, DATEADD(m, -1, getdate()))

In [ ]:
SELECT DateofHire from HR
WHERE DATEPART(m, DateofTerminated) = DATEPART(m, DATEADD(m , -1, getdate()))
AND DATEPART(yyyy, DateofTerminated) = DATEPART(yyyy, DATEADD(m, -1, getdate()))

#### Number of Hired and Terminated Employee this Month

In [ ]:
SELECT COUNT(DateofHire) FROM HR
WHERE MONTH(DateofHire) = MONTH(CURRENT_MONTH())
AND YEAR(DateofHire) = YEAR(CURRENT_MONTH())

In [ ]:
SELECT COUNT(DateofTerminated) FROM HR
WHERE MONTH(DateofTerminated) = MONTH(CURRENT_MONTH())
AND YEAR(DateofTerminated) = YEAR(CURRENT_MONTH())

The data that we have is not up-to-date, therefore, the above queries cannot be run.